[2020-06-21 00:09] gita-omr commented on #4107
@fjeremic I agree this something we should look into.

[2020-06-21 15:52] MohammadGhazanfar commented on #5277
@0xdaryl in case you missed my earlier comment :)

[2020-06-22 05:11] PaulinaQuintero commented on #4933
I made a pull request with the changes that are requested but when making the tets it marks 6 errors in the porttest when I run the ctest, do you know why? I would appreciate your help with this

[2020-06-22 13:12] Leonardo2718 commented on #4933
@PaulinaQuintero

Those port library test failures are unrelated to your change (I suspect they will fail without your change too). It should be safe for you to re-open your PR. When the CI tests run, we can verify that those failures are not your problem.

[2020-06-22 15:55] 0xdaryl commented on #5277
Thanks for the poke.  My apologies, I did miss your update earlier.

First off, thanks for your offer to help.  New contributors are always welcome!

One of the big advantages of implementing N-bit `log2(X)` as `N-1-leadingZeros(X)` is that every architecture OMR supports [1] provides some reasonably fast implementation of a "count leading zeros" instruction in hardware.  Since the OMR compiler is

[2020-06-22 21:58] aviansie-ben opened #5333 "Improve boundary avoidance nop generation for prefixed instructions"
When encoding prefixed instructions on Power, the prefix and suffix words must not span across a 64-byte boundary. In order to ensure this, the binary encoder may need to add an extra nop ahead of the current instruction. Currently, this is handled by manually emitting a nop instruction in `TR::InstOpCode::copyBinaryToBuffer`. A better solution would be to generate and encode a `TR::Instruction` r

[2020-06-23 01:20] wbh123456 commented on #5324
The first bug can be easily fixed by replacing `&argIlTypes[0]` with `argIlTypes.size() != 0 ? argIlTypes.data() : NULL` in the `resolvedMethod` initialization in `Tril::SimpleCompiler::compileWithVerifier()`.

[2020-06-23 13:56] amicic commented on #5318
If we activate the first Worker threads that wake up at initial dispatch, it means that their IDs will not be contiguous?

Not sure if that's important, other than for easier debugging, but if we want them to be contiguous that's probably doable by adding an extra table in the Dispatcher that maps their ID from the pool of Workers into the (contiguous set of) IDs of active Worker threads.

That ma

[2020-06-23 18:46] RSalman commented on #5318
This is true

[2020-06-23 19:15] RSalman commented on #5318
It's only noticeable for debugging purposes. For instance, Tgc:parallel logs can look something like this (using 8/48 threads):

[code]

[2020-06-24 12:59] sahithiponangi commented on #4856
@knn-k For short, on a straight build, I'm seeing `uxthx`  after `ldrshimmx`, instead of `sxthw` as mentioned in the issue. After making a build with my changes, I'm not seeing any difference in this sequence. The test program I used is as mentioned in the issue. Please let me know what I'm missing.

[2020-06-24 15:04] knn-k commented on #4856
I have no idea.
Do you have the JIT trace file from running the test program?  I am interested in looking at the trace file for seeing the IL sequence in it.

[2020-06-24 15:45] aviansie-ben opened #5340 "Document the new Power binary encoder"
Now that the majority of #4720 is complete, we should probably add some documentation to the `doc` directory to document the overall design of the new binary encoder, how it works, and how it is tested. Such documentation should also include some very brief discussion of the Power instruction format as it applies to the compiler at a high level.

We should probably also document some of the decisi

[2020-06-25 00:04] 0xdaryl commented on #5276
[eclipse_omr_variability_challenges.pdf](https://github.com/eclipse/omr/files/4828413/eclipse_omr_variability_challenges.pdf)

[2020-06-25 01:55] RSalman commented on #5318
### Parallel Dispatcher Optimization Results  _([Hybrid Notifications and Improved Thread Selection](https://github.com/eclipse/omr/pull/5336))_

Each platform is tested with two different machines, a machine with a large core count and another with a comparatively smaller core count. Benefits of these optimizations are dependent on the machine size. For instance, the overhead of `notify_all` is a

[2020-06-25 03:00] knn-k commented on #4856
I received JIT trace files from @sahithiponangi .
The instruction sequence `ldrshimmx - uxthx` is generated for the IL sequence `sloadi - su2i`.  That is a separate topic from the scope of this PR, `sloadi - s2i`.

[2020-06-25 05:14] knn-k opened #5343 "AArch64: Improve code generation for loading unsigned short"
The AArch64 JIT generates code like this for an IL sequence `sloadi-su2i` for `JBcaload`:
[code]

This can be shortened to one instruction as `ldrhimmx x0, [x18, 0]`.

[2020-06-25 05:15] knn-k commented on #4856
I opened a separate issue for `sloadi - su2i` as #5343.

[2020-06-25 17:17] youngar opened #5345 "Use correct thread environment when flushing caches and merging stats"
Every thread in OMR tracks various statistics, such as bytes allocated.  Periodically (typically during a GC) these statistics are all added or merged together, such as to get total bytes allocated across all threads.  During this process it is important to properly distinguish between the thread which is aggregating and the targets threads.

When this is not clearing distinguished it can be confu

[2020-06-26 00:13] knn-k commented on #5343
It is not often in Java, but there are `bloadi - bu2i` sequences.  The instruction sequence `ldrsbimmx - uxtbx` could be replaced by `ldrbimmx` in that case.

[2020-06-26 02:04] knn-k commented on #4137
Related PRs: #5348, eclipse/openj9#10023

[2020-06-26 14:15] #4373 closed

[2020-06-26 16:44] #5069 closed

[2020-06-26 21:02] RSalman commented on #5318
### XML Validation Benchmark Scores
![image](https://user-images.githubusercontent.com/9648788/85900985-cdac7980-b7ce-11ea-9086-5832f8426b37.png)

Without considering run-to-run variations, the scores look higher for the optimized dispatcher runs.

We can see clear performance gains when comparing collection times. Below are graphs showing the first ~300 collections from a baseline and an optimize

[2020-06-27 10:45] #3364 closed

[2020-07-01 01:10] knn-k opened #5359 "AArch64: Use cbz instruction in table/lookup if applicable"
Comparing with the constant zero for equality in table or lookup can be improved by the cbz instruction.

[2020-07-01 01:31] knn-k commented on #5359
Related Issue: #3364
Related PR: #5329

[2020-07-02 09:40] adamfarley opened #5360 "omrsock compilation fails on aix for jdk15 and jdk head"
This issue causes the openjdk builds to fail at adoptopenjdk. Please investigate.

Platforms seen on: AIX only.

Builds pass on jdk8 and jdk11.

Last passing build for jdk15:

[code]

Full error message included below.

[code]

Full build output can be found [here for jdk15](https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk15/job/jdk15-aix-ppc64-openj9/26/console

[2020-07-02 14:00] aviansie-ben opened #5361 "Validate and test gr0 exclude flag for Power"
A number of instructions on Power have special behaviour where placing `gr0` in the RA field of an instruction may be invalid or result in use of a constant 0 instead of the actual value stored in `gr0`. In #5325, an instruction property flag was added to control this behaviour, however we have not yet validated that the existing list of `gr0` excludes is correct nor added tests to ensure that thi

[2020-07-02 17:26] georgkrylov commented on #5119
Thank you for answer @mstoodle ,
Focusing better on API discussion, I am proposing the following:

### For storing methods
I am debating between two options: either allowing a new call to compileAndStoreMethodBuilder
[code]
or alternatively, allowing storing a method that was compiled before:
[code]
### For the loading part
[code]
This will hide the details from user, and will require no substanti

[2020-07-02 17:33] gita-omr commented on #5361
Maybe we can somehow parse the Power ISA document to make sure we found all instructions that have that property. My main concern is that somebody may rely on this flag already being set on all instructions that need it.

[2020-07-02 17:44] aviansie-ben commented on #5361
I don't see any reliable way of automatically parsing the ISA document to determine this. None of the appendices seem to list this information in tabular format and even the instruction descriptions themselves are inconsistent in how they provide this information (i.e. some use the `(RA|0)` convention, while others simple have special handling in the pseudocode for `RA=0`, and still others only me

[2020-07-03 14:18] #4137 closed

[2020-07-03 16:55] youngar commented on #5360
@rwy0717 @caohaley

[2020-07-03 19:13] #5360 closed

[2020-07-03 19:17] youngar commented on #5360
@adamfarley Thanks for submitting this issue.  We believe that this has been fixed, but if the problem persists, please re-open this issue.

[2020-07-06 13:44] aviansie-ben opened #5367 "Replace and disable the pTOC on POWER10"
POWER10 adds the ability to perform PC-relative loads and stores, which renders the pTOC (where we previously stored floating-point and 64-bit constants) redundant, as all pTOC loads could theoretically be replaced with PC-relative loads instead. The current high-level plan to achieve this in the short-term is to change the sequence used to load a value from a `ConstantDataSnippet` to instead use

[2020-07-06 14:30] 0xdaryl opened #5368 "Avoid using TR::comp in Z InstOpCode utility functions"
The Z code generator has utility functions to retrieve the correct form of instruction opcode depending on the target bitness that all use `TR::comp()` internally to materialize the Compilation object (see the code starting at [1]).

Most, if not all, places where such functions would be used already have ready access to either a CodeGenerator or a Compilation object.  It is likely cheaper to pass

[2020-07-06 16:20] fjeremic commented on #5172
Just putting a note down on [1] that should be handled as part of this issue.

[1] https://github.com/eclipse/omr/pull/5317#pullrequestreview-443203580

[2020-07-07 06:42] knn-k commented on #4856
#5061 was merged.  Closing this Issue.

[2020-07-07 06:42] #4856 closed

[2020-07-07 11:20] #5117 closed

[2020-07-07 11:27] 0xdaryl opened #5372 "Agenda for July 16, 2020 OMR Architecture Meeting"
### Agenda

* Add Dynamic Breadth First Scan Ordering to GC (#5377) [ @jonoommen ]

[**Replay**]( https://youtu.be/jF2j7oW6pAg )

### Details
Thursday, July 16, 2020 @ 14:00 EST (GMT -5), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (access code): 491 674 744
Meeting password: omrrocks!

North America call-in number: 1-844

[2020-07-07 21:06] #5158 closed

[2020-07-08 00:35] 0xdaryl opened #5374 "Deprecate x86 BADIA32Op with either INT3 or UD2"
The x86 code generator has long used `BADIA32Op` in place of a breakpoint trap `INT3` instruction.  This is used not only for true diagnostic breakpoints but also in place of an undefined opcode instruction.  However, to make the intent clearer and to align the opcode with the proper Intel mnemonics, uses of `BADIA32Op` should be replaced with either an `INT3` (for a breakpoint trap) or a true `UD

[2020-07-08 20:19] wbh123456 opened #5378 "X86 byte/short to floating point evaluator error"
Found the following bug by running `fvtest/compilertest` under X86 windows.
[code]
Currently the X86 evaluators that are handling `b2f`, `b2d`, `s2f`, `s2d` ILOpcodes are causing an error when converting from a negative value. Specifically, the evaluation routine correctly sign extends the value, but failed to load the sign extended value using 2's complement. e.g. -9 (0b0000 1001) are falsely con

[2020-07-09 16:13] aviansie-ben opened #5383 "Add an instruction property flag for indexed-form loads/stores"
Currently, the Power codegen does not have an instruction property flag to determine whether a load/store is indexed-form or not. A small handful of places (e.g. [1] and [2]) attempt to check for indexed-form loads manually by checking against a list of such instructions that are known to reach these locations. It would be better to add an instruction property flag and use that instead to avoid un

[2020-07-13 10:01] knn-k commented on #3377
Related PR: #5388

[2020-07-14 03:44] knn-k commented on #3377
Loading the constant 0.0 into an FP register requires another instruction, `MOVI` (Move Immediate):

[2020-07-14 20:05] #5297 closed

[2020-07-15 20:51] 0xdaryl opened #5400 "Agenda for Aug 27, 2020 OMR Architecture Meeting"
### Agenda

* https://github.com/eclipse/omr/issues/5488
* If we have time, Mark can give a brief verbal update on JitBuilder2 work

@mstoodle will be leading the call this week, since @0xdaryl is on vacation.

[**Replay**]( https://youtu.be/_4n2EQTIxJ8 )

### Details
Thursday, Aug 27, 2020 @ 14:00 EST (GMT -5), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m937a43c91c11d5c

[2020-07-16 12:53] 0xdaryl opened #5402 "Remove unnecessary uses of getOptimizationPhaseIsComplete()"
There are two uses of the CodeGenerator query `getOptimizationPhaseIsComplete()` that are unnecessary.  These uses should be eliminated in preparation for deprecating this query.

1.  `getOptimizationPhaseIsComplete()` should be folded to `false` here as this function is only used during VP in the optimizer:
https://github.com/eclipse/omr/blob/b99d3036d8a20592a04fdcd77bca176e794e326d/compiler/opti

[2020-07-16 15:17] aviansie-ben opened #5404 "Find a better location for Power platform-specific non-AOT relocations"
Currently, there are several Power-specific relocations that are not related to AOT that live in `PPCAOTRelocation.hpp`. We need to find a better place to put these, as they should not go with other non-AOT relocations (they're very specific to Power) and also should not go with the Power-specific AOT relocations (they're not actually AOT relocations).

[2020-07-16 19:51] 0xdaryl commented on #5372
[gc-hot-fields-short.pdf](https://github.com/eclipse/omr/files/4933890/gc-hot-fields-short.pdf)

[2020-07-20 11:21] #5343 closed

[2020-07-20 15:19] #5128 closed

[2020-07-21 02:31] #3377 closed

[2020-07-21 12:31] alvee-unb opened #5415 "Use MOVI (Move Immediate) instruction for loading 0.0 into FP register"
Loading the constant 0.0 into an FP register requires the instruction- MOVI (Move Immediate):
[code]
Currently loading 0.0 requires two instructions and a temporary GP register:
[code]

Related issue: #3377

[2020-07-21 18:59] aviansie-ben opened #5418 "Undefined behaviour in the Power LHS peephole"
It seems that the Power peephole for optimizing load-hit-store sequences has a couple of issues with undefined behaviour that can cause problems under certain conditions.

Firstly, the instruction after the store instruction that's being examined is cast to `TR::PPCTrg1MemInstruction` before the check for whether it is actually a load instruction is performed:

https://github.com/eclipse/omr/blob/

[2020-07-22 20:54] 0xdaryl opened #5423 "Remove unused temps from x86 CodeGenerator"
The following fields in compiler/x/codegen/OMRCodeGenerator.hpp are not used in OMR nor any downstream project and can be removed:
[code]

[2020-07-22 21:50] kev536 commented on #5423
I am on it.

[2020-07-23 08:04] sirinath opened #5425 "Single Open Intermediate Language (SOIL) Initiative"
I came across the SOIL-initiative which aims to create a Single Open Intermediate Language. I believe perhaps if there is a collaboration with this initiative it might benefit also. Perhaps OMR can have a ready to use backend for the SOIL Intermediate form.

[2020-07-24 12:55] #5415 closed

[2020-07-24 15:25] Hello71 opened #5427 "gcc 10 build error: omrstr.c:3132:15: error: writing 2 bytes into a region of size 0"
[code]

if `J9STR_USE_ICONV` is defined and an iconv error occurs, `resultSize` is set to `OMRPORT_ERROR_STRING_ILLEGAL_STRING`, which is defined as -450. it is illegal to compute a pointer to `onStackBuffer[-450]`, let alone write to it. the desired logic here is not totally clear, but most likely instead of `resultSize = OMRPORT_ERROR_STRING_ILLEGAL_STRING` it should be `return OMRPORT_ERROR_STR

[2020-07-24 21:48] Hello71 commented on #5427
I successfully built OMR with gcc 10.2.0 after changing `resultSize = OMRPORT_ERROR_STRING_ILLEGAL_STRING` to `return OMRPORT_ERROR_STRING_ILLEGAL_STRING`. It's not clear to me what the logic here should be though, since this code is semi-duplicated to `convertWideToPlatform`. Unfortunately, this code dates to before the OMR public release.

[2020-07-27 11:29] jamesgua commented on #5423
@0xdaryl my mistake: create PR in my forked repo so link it with this issue. Pls help me with proper work flow. Thx!

[2020-07-27 11:49] 0xdaryl commented on #5423
@jamesgua : I suggest you read through this to understand the git workflow in OMR -> https://github.com/eclipse/omr/blob/master/doc/GitCrashCourse.md

[2020-07-28 19:01] dsouzai commented on #3848
Closing as this has been addressed by @harryyu1994 's work.

[2020-07-28 19:01] #3848 closed

[2020-07-31 06:40] knn-k opened #5438 "AArch64: Implement bitOpCodes"
OMRCodeGenerator::getSupportsBitOpCodes() returns false on AArch64.

It is used in https://github.com/eclipse/openj9/blob/0d48f88b41b253f98c862176f2785ef0c663d039/runtime/compiler/ilgen/Walker.cpp#L3535.

OpCodes to be implemented:
- [x] ihbit, lhbit (#5673)
- [x] ilbit, llbit (#6112)
- [x] inolz, lnolz (#5673)
- [x] inotz, lnotz (#5673)
- [x] ipopcnt, lpopcnt (#6859)

[2020-08-03 03:40] xiacijie opened #5439 "Extend the arithmetic operations for VPIntConstraint, VPLongConstraint, VPShortConstraint"
Hello,

The currently available arithmetic operations for those constraints are only `add` and `subtract`. I am thinking is it possible or will it be necessary to extend the operations to include operations such as `negation`, `shift`, `multiply`, `division`, `rem`, `convertion` and other possible operations? @andrewcraik @0xdaryl

Thanks

[2020-08-04 13:46] andrewcraik commented on #5439
@xiacijie if there is a need to implement additional operations on the VP constraints then a motivation and contributions will be welcome. Note that the constraints you mentioned are actually abstract types and each has a Const and Range derived type representing a single value and a range of values. If any of these APIs are added to the root class they would need support to be added on the two de

[2020-08-04 16:46] kbeaton2 commented on #5244
What was tested:
${omr_SOURCE_DIR}/compiler/env/AOTMethodHeader.hpp #L31-L40 by AOTMethodHeaderTest <- Connection to OMRAOTMethodHeader
${omr_SOURCE_DIR}compiler/env/OMRAOTMethodHeader.hpp #L48-L63 by AOTMethodHeaderTest <- Create and then call the methods to test that the data travels through it correctly.

${omr_SOURCE_DIR}2/compiler/env/AOTStorageInterface.hpp #L33 by AOTStorageTest <- Connecti

[2020-08-04 17:25] xiacijie commented on #5439
@andrewcraik The current use case of `VPConstraint` is doing abstract interpretation for java bytecode. Abstract interpretation produces abstract values. So `TR::VPConstraint `is used as constraints for those abstract values. For example, when encountering an `iconst1`, we create an abstract value with constraint `VPIntConst(1)`. For other byte code such as `ineg`, a negation of the constraint is

[2020-08-04 17:32] andrewcraik commented on #5439
For a VPConst constraint you can do the operation on the constant and then create a new VPConst even without implementing it on the constraint. Doing it on a range can be more tricky - we could if it was sufficiently useful.

[2020-08-05 16:37] dnakamura opened #5448 "CMake: tracegen not properly detecting dependencies"
It looks like cmake builds are always re-running tracegen, regardless of if the input has changed. This is a minor issue as tracegen runs reasonably quickly, but its something I probably want to look into

[2020-08-05 16:43] dnakamura opened #5449 "CMake: metal C files not handled properly in omrport"
The way we have z/OS metal c files implemented uses `add_custom_command` to generate a `.o` file from the `.mc`. CMake does not allow adding object files

[code]
Why this doesnt trigger an error when building omr, I have no idea.

[2020-08-06 08:48] knn-k opened #5450 "AArch64: Improve *selectEvaluator()"
When the first child node of `iselect` is `icmpeq` for example, the instructions can be improved as shown below.

[code]
↓
[code]

[2020-08-06 17:29] #254 closed

[2020-08-06 17:29] #5129 closed

[2020-08-06 17:29] #5141 closed

[2020-08-07 02:36] knn-k commented on #5450
`fselectEvaluator()` uses `cbnzx` instruction now.  There is `fcsel` instruction for floating-point conditional select.

[2020-08-07 04:26] knn-k commented on #5450
I opened #5456 for `fselectEvaluator()`.

[2020-08-08 11:48] 0xdaryl opened #5457 "Move supportsDirectJNICalls capabilities to OpenJ9"
The following CodeGenerator capabilities are OpenJ9-specific and should be moved to the OpenJ9 project:

* SupportsDirectJNICalls
* supportsDirectJNICallsForAOT

You can find uses of these throughout the code by doing a case-insensitive grep (i.e., `grep -i`) on those names.
 There are no references to these capabilities in OMR (except one in the ARM code generator, but that is easy to move).

Rem

[2020-08-10 17:11] midronij commented on #5172
@gita-omr @aviansie-ben @0xdaryl It's my understanding that for each MemoryReference constructor, we need a corresponding static factory method that invokes that constructor. Is there a specific naming convention we should be using? My first instinct was to use `create____()` (e.g.: `create()`, `createWithLabel()`, `createWithDisplacement()`, `createWithSymRef()`, etc), similar to how it's done wi

[2020-08-11 19:30] aviansie-ben commented on #5172
@midronij I don't know of any other naming scheme that's well-established in the codebase for this sort of thing, so I'd be in favour of using `createWith*` for the names.

[2020-08-12 03:50] sirinath opened #5465 "SIMD and GPU Acceleration"
Please support where:
1. OMR code is fully accelerated on the running platform
2. Target languages also can use portable special instruction like in https://github.com/simd-everywhere/simde

[2020-08-13 12:47] aviansie-ben opened #5468 "Add a peephole to reverse CR logical operands for better performance"
According to @zl-wang [1], Power chips pre-P10 have better performance for condition register logical instructions if the target condition register field and the 2nd source CRF are the same. While use of these instructions used to be relatively rare, they are now being used more frequently, so adding some performance optimizations here would be nice. Since most of these instructions (all but `cran

[2020-08-13 13:36] gita-omr commented on #5172
`create...` looks good to me. @0xdaryl what do you think about the proposal above?

[2020-08-13 14:13] fjeremic commented on #5172
I believe @0xdaryl is away this week. I too support the `create...` APIs and we are working on the same naming scheme on Z.

[2020-08-13 14:19] kbeaton2 commented on #5244
The methods in:
${omr_SOURCE_DIR}/compiler/compile/OMRCompilation.hpp#L332-L333
are not able to be tested directly due to being unable to access the instance of Compilation.

[2020-08-13 15:05] caohaley commented on #4102
### Linux to omrsock API Mapping

|Linux Function Name| omrsock API Function Name|
|---|---|
| - | omrsock_getaddrinfo_create_hints|
|getaddrinfo | omrsock_getaddrinfo|
| - | omrsock_addrinfo_length|
| - | omrsock_addrinfo_family|
| - | omrsock_addrinfo_socktype|
| - | omrsock_addrinfo_protocol|
|freeaddrinfo | omrsock_freeaddrinfo|
| - | omrsock_sockaddr_init|
| - | omrsock_sockaddr_init6|
|socke

[2020-08-13 15:06] caohaley commented on #4102
### Linux to omsock API Implementations Mapping

Linux Implementations | omrsock API Implementations | omrsock API Memory Management
---|---|---
struct addrinfo hints; <br> memset(&hints, 0, sizeof hints); <br >hints.ai_family = AF_INET; <br> hints.ai_socktype = SOCK_STREAM; hints.ai_protocol = 0; | omrsock_addrinfo_t hintsPtr = NULL; <br> omrsock_getaddrinfo_create_hints(OMRPORTLIB, &hintsPtr, OM

[2020-08-13 17:28] georgkrylov opened #5469 "Roadmap for adopting changes in OMR AOT Compiler infrastructure"
This issue presents a list of future work steps that need to be done to adopt code introduced in #4557, originally described in #4556
The work items presented here mostly do not depend on each other and the order of ticking off the check marks is not fixed.

- [ ] Review and merge #5244, that provides basic functional verification
- [ ] Settle on external API for #5119, that would allow integratin

[2020-08-15 12:17] Hello71 opened #5471 "type of 'omrstr_ftime' does not match original declaration"
building with gcc 10:

[code]

in this case -fno-strict-aliasing is specified, but I think it can still be miscompiled if uintptr_t is a different size.

[2020-08-17 14:30] #5418 closed

[2020-08-17 17:38] 0xdaryl commented on #5172
I agree with the overloaded `TR::MemoryReference::create(...)` naming scheme for the purest forms of MemoryReference construction, and `::createWith...` forms as appropriate that wrap additional functionality around those basic forms.

I further agree that a consistent naming scheme should be employed across all architectures (I believe Z and X use "`generate...`" and neither AArch64 nor RISCV use

[2020-08-17 19:05] aviansie-ben commented on #5172
@0xdaryl While I would normally agree that we should use a generic overloaded `create(...)` function, that unfortunately causes problems for the Power codegen due to issues with overload resolution after longer displacements were introduced. Before #5317, we had two "pure" constructor overloads, one that takes a `TR::Register*` and an `int32_t` and one that takes two `TR::Register*`s.

To accommod

[2020-08-18 12:17] 0xdaryl opened #5476 "Introduce inline self() method in CodeCacheManager"
The CodeCacheManager class makes extensive use of `self()` method calls yet does not provide an inlined version.  A `runtime/CodeCacheManager_inlines.hpp` and `runtime/OMRCodeCacheManager_inlines.hpp` file should be introduced as some other extensible classes do and the implementation of `self()` should move there.

[2020-08-18 12:21] 0xdaryl opened #5477 "Introduce inline self() method in CodeCache"
The CodeCache class makes extensive use of `self()` method calls yet does not provide an inlined version. A runtime/CodeCache_inlines.hpp and runtime/OMRCodeCache_inlines.hpp file should be introduced as some other extensible classes do and the implementation of `self()` should move there.

[2020-08-18 13:30] 0xdaryl commented on #5172
Sure, I think that's reasonable and driven by practical considerations.

[2020-08-18 16:00] keithc-ca opened #5478 "Warning suppression should be handled consistently"
Currently, warning suppression is not done consistently.

* Some places suppress a warning and leave it suppressed: [include_core/omragent.h#L341](https://github.com/eclipse/omr/blob/master/include_core/omragent.h#L341)

* Other places suppress a warning and then restore the default: [gc/base/Bits.hpp#L106](https://github.com/eclipse/omr/blob/master/gc/base/Bits.hpp#L106) (it's not clear from the

[2020-08-24 10:01] austin0 opened #5484 "omrsharedhelper.c failed to compile on jdk11u-linux-riscv64-openj9"
Assuming this is related to https://github.com/eclipse/omr/pull/4758 @DmonteDD @mthom

Failure link
------------

Compilation failing for `omrsharedhelper.c` since 21/08/20.

https://ci.adoptopenjdk.net/view/Failing%20Builds/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-riscv64-openj9/103/console

Failure output
---------------------------------------------
[code]

[2020-08-24 12:49] DmonteDD commented on #5484
Thank you @austin0. I am looking into it. I will try to resolve it ASAP.

[2020-08-25 15:14] xiacijie opened #5488 "Contributing a new Inliner (BenefitInliner) to OMR"
# Contributing a new Inliner (BenefitInliner) to OMR

Over the last 3 years IBM has funded a joint research project with the University of Alberta to explore new inlining technologies for Eclipse OMR. With the master’s thesis work of @Erick, which forms the core of this new inliner implementation, along with work from @Jack and @Spencer, who have also made contributions, the research team now feel

[2020-08-25 16:31] aviansie-ben opened #5490 "Clarify the support story surrounding ppc32 in the compiler"
The Power codegen currently contains a lot of code specifically for dealing with 32-bit, however neither OMR nor OpenJ9 make any claims as to their support of the ppc32 architecture and no tests are being run for this code in either project. As I understand it, this code is currently only used and tested internally by IBM. In fact, according to @zl-wang, 32-bit processors aren't even supported by

[2020-08-25 17:26] zl-wang commented on #5490
although it becomes rarer and rarer, PMRs still are coming in for 32bit JVM now and then.  there is really no urgency to deprecate 32bit codegen in immediate future.

switching to support only 64bit processors was hardened before OMR even existed (java7 time).  Reasons: there were huge pains supporting long atomicity on 32bit hardware which were rarely available at that time, except in embedded sy

[2020-08-25 18:27] #5152 closed

[2020-08-26 13:37] RSalman opened #5494 "Concurrent Marking (Standard Collectors) with SATB"
Currently, standards collectors makes use of an incremental update approach to address issues posed by concurrent collection _(i.e object graph mutation during collection ops)_. However, incremental update is only one of two (commonly used) approches to deal with such issues; Snap-Shot-At-The-Beginning (SATB) being the other. Each approach results in differing GC characteristics and overall have d

[2020-08-26 13:38] RSalman commented on #5494
cc @amicic @dmitripivkine

[2020-08-26 13:57] aviansie-ben commented on #5490
While I appreciate that IBM may still have customers using ppc32, that's not the issue I'm trying to bring up here. To my knowledge, the OMR compiler does not and has never had official support for ppc32 despite having de facto support. Our only officially supported architectures and platforms in OMR are those that are given a build status in our [README](https://github.com/eclipse/omr/blob/master

[2020-08-26 14:10] amicic commented on #2987
We will continue the work under https://github.com/eclipse/omr/issues/5494. This can be closed now.

[2020-08-26 16:59] mstoodle commented on #5490
From @zl-wang's comment, I understand that IBM would prefer that the OMR project continue to maintain the ppc32 support. @aviansie-ben's concern is that it's currently hard to impossible to do that because OMR has no test resources for this platform and so there's no way for contributors or committers to ensure ppc32 support continues to work as the code base evolves. And the 32-bit code is "gummi

[2020-08-27 00:17] aviansie-ben opened #5499 "Z codegen does not handle sub-integer compares as the first child of an integral select node"
As part of refactoring the `*select` evaluators on Power in #5497, new Tril tests were added to exercise previously untested codegen optimizations for when the first child is a compare. When running these tests on Z, the following assertion was observed in `SelectCompareTest/Int32SelectInt8CompareTest`:

[code]

From looking at the code, it appears that the Z codegen's evaluator for integral selec

[2020-08-27 00:34] aviansie-ben opened #5500 "Implement support for fselect and dselect on x86"
The x86 codegen does not currently support the `fselect` or `dselect` opcodes for performing a select between two floating-point values. Evaluators for these opcodes should be implemented.

[2020-08-27 01:35] aviansie-ben opened #5501 "Sub-integer compares under select nodes give wrong result on x86-64"
As part of refactoring the `*select` evaluators on Power in #5497, new Tril tests were added to exercise previously untested codegen optimizations for when the first child is a compare. When running these tests on x86, numerous incorrect results were observed for select nodes with a sub-integer compare as their first child, such as:

[code]

[2020-08-27 16:20] aviansie-ben commented on #5490
A quick search through the code found me ~290 locations where the Power codegen checks whether it's running on 32-bit or 64-bit (either through macros or runtime checks) and at least 2300 lines of trivially ppc32-only code that's otherwise dead. For context, the entire `compiler/p` folder (excluding the opcode properties table) is ~57000 lines of code. Most of this ppc32-only code is evaluators fo

[2020-09-01 00:46] 0xdaryl opened #5515 "Agenda for Sept 10, 2020 OMR Architecture Meeting"
### Agenda

* New IL opcodes `sbyteswap` and `lbyteswap` (#5517) [ @aviansie-ben ]

* Should byte-reversed load/store opcodes be moved to OMR? (#5149) [ @aviansie-ben ]

[**Replay**](https://youtu.be/FDtVs-vKcCc)

### Details
Thursday, Sept 10, 2020 @ 14:00 EST (GMT -5), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (access

[2020-09-01 08:36] #5484 closed

[2020-09-01 15:43] aviansie-ben opened #5517 "New IL Opcode Request: sbyteswap and lbyteswap"
## IL Opcode Name

- `sbyteswap`
- `lbyteswap`

## Motivation

Currently, OMR has a single opcode for reversing the order of bytes in a 32-bit integer: `ibyteswap`. This is a relatively common operation in many cases, as it can be used to convert between big-endian and little-endian representations of integers. However, there are no such opcodes for performing the same operation on 16- and 64-bit

[2020-09-01 19:44] mstoodle commented on #5490
Hi @aviansie-ben, how much additional testing do you think would be warranted above creating a 32-bit POWER build and running our existing tests with it (on a 64-bit machine, I suppose)? Would that be a reasonable first step to getting the project in a position to claim to support the ppc32 platform?

[2020-09-01 20:22] 0xdaryl commented on #5490
I wonder if this issue should be expanded to clarify the support story of PPC32 in OMR in general (not just the compiler), or at least prompt a second issue to be opened to track that?

I recall that @ymanton undertook some work a couple of years back to bring in broader support for PPC32 (see #2930).  So more work may be needed to support that beyond the compiler.  This was largely driven by an O

[2020-09-02 14:50] aviansie-ben commented on #5490
@mstoodle I think it would be reasonable to simply add ppc32 AIX builds to our CI pipelines and start running the compiler unit tests and compiler Tril tests there. I think beyond this, we just need to start requesting the addition of more compiler Tril and unit tests along with PRs touching the Power codegen and looking at addressing the current limitations of our testing strategy in general (e.g

[2020-09-02 18:10] #3797 closed

[2020-09-03 21:00] #2987 closed

[2020-09-09 21:04] midronij commented on #5172
@gita-omr @aviansie-ben Here are the PRs: https://github.com/eclipse/omr/pull/5536 https://github.com/eclipse/openj9/pull/10553 https://github.ibm.com/runtimes/closedj9/pull/123

[2020-09-09 22:20] 0xdaryl opened #5538 "Agenda for Sept. 24, 2020 OMR Architecture Meeting"
### Agenda

* Power instruction fusion support structure (#5552) [ @rmnattas ]

* Introduce an ObjectFormat class to implement call encodings (#5569) [ @0xdaryl ]

[**Replay**]( https://youtu.be/lpdbyUUDn9s )

### Details
Thursday, Sept 24, 2020 @ 14:00 EST (GMT -5), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (access cod

[2020-09-10 14:20] aviansie-ben commented on #5490
On this topic, it seems that we've ended up with yet another ppc32 build break that I feel really illustrates some of the risks that I'm concerned about here. @zl-wang recently opened #5534 to fix it and I posted some more in-depth technical info about the problem there, but the TL;DR is that the difference in the definition of `size_t` between ppc64 and ppc32 caused a call to a `TR::MemoryReferen

[2020-09-10 16:11] andrewcraik commented on #5517
if we are going for completeness do we need an abyteswap as well?

[2020-09-10 17:07] aviansie-ben commented on #5517
I'm not entirely sure about `abyteswap` to be honest. I don't imagine it would be a very common operation, since pointers are not usually sent over the wire or stored on disk and even those languages that do strictly require little-endian don't typically allow users to arbitrarily mess with addresses. For instance, in WebAssembly the pointers that user code sees are simply offsets from the beginni

[2020-09-10 17:41] 0xdaryl commented on #5517
This issue will supercede #958.

[2020-09-10 18:53] 0xdaryl commented on #958
This issue is superceded by #5517, which was approved at the Sept 10, 2020 OMR Architecture meeting (#5515).  Closing this.

[2020-09-10 18:53] #958 closed

[2020-09-11 17:46] aviansie-ben opened #5540 "Move forceIndexedForm call into the generateInstruction helpers on Power"
Currently, there are a number of places in the Power codegen that manually call `forceIndexedForm(...)` on a memory reference that is going to be used as the memory argument of an index-form instruction. This is error-prone and ends up proliferating a lot of noise around the code. It would be better to move this call into the `generateMemInstruction`, `generateTrg1MemInstruction`, and `generateMem

[2020-09-13 23:04] 0xdaryl opened #5542 "Support generating code with different access permissions"
The OMR compiler has traditionally generated code suitable for a dynamic compilation environment.  This means that it can sometimes perform optimizations (e.g., speculative optimizations or method recompilation) assuming the generated code is modifiable at runtime.  However, there are compilation scenarios where this isn't always the case and hence the code produced must be exclusively read-only a

[2020-09-16 13:57] IBMJimmyk opened #5556 "BlockSplitter sometimes splits an extra block"
https://github.com/eclipse/omr/blob/ca96a08f4364146d5a7f1458544023bf5c2d13d2/compiler/optimizer/LocalOpts.cpp#L6255-L6262

`synergisticDepthCalculator` receives a list of blocks via `bMap` and performs calculations to determine how many of those blocks should be split. This number is fed to `pruneAndPopulateBlockMapper` as the `depth` value.

`pruneAndPopulateBlockMapper` will remove the blocks it

[2020-09-16 13:58] IBMJimmyk commented on #5556
@andrewcraik This likely isn't a high priority issue but you might be interested in this.

[2020-09-16 14:10] andrewcraik commented on #5556
This is something to be fixed, but will need a lot of perf testing to ensure the fix doesn't cause a regression. Overly zealous splitting could disrupt commoning which would reduce performance, but likely we are just increasing code size for no real benefit...

[2020-09-17 12:34] #5276 closed

[2020-09-17 12:34] #5372 closed

[2020-09-17 12:34] #5400 closed

[2020-09-17 12:34] #5515 closed

[2020-09-17 17:57] #5296 closed

[2020-09-18 20:05] #5517 closed

[2020-09-21 12:23] 0xdaryl commented on #3235
I am in the process of adapting the CodeGenerator hierarchy construction to use a factory pattern.  It will arrive in a series of staged PRs as there is work needed in consuming downstream projects to keep up with the changes.  The goal of this initial work will be to simply replicate the functionality that is there but follow a factory allocation pattern that separates construction from initializ

[2020-09-22 14:42] 0xdaryl opened #5569 "Introduce an ObjectFormat class to implement call encodings"
In the current compiler codebase, calls to functions originating in compiled code all follow a similar (and unfortunately hard-coded) encoding format.  This is due to the heritage of the OMR compiler in that it was designed to generate and execute code dynamically (i.e., a just-in-time compiler).  In such an environment, the addresses of call targets are often known and many of the calls can be do

[2020-09-22 19:37] 0xdaryl opened #5571 "Agenda for Nov. 5, 2020 OMR Architecture Meeting"
### Agenda

* Clean up generation of load and store sequences for Power (#5630) [ @aviansie-ben ]

* Discuss future OMR dependence on Travis CI [ @0xdaryl ]

[**Replay**](https://youtu.be/Mi7WDTZzBXM)

### Details
Thursday, Nov. 5, 2020 @ 14:00 EST (GMT -5), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (access code): 491 6

[2020-09-23 15:23] IBMJimmyk opened #5572 "traceMsg incorrectly assumes a non-NULL _callNode"
Code of interest is in `TR_CallSite::tagcalltarget` here:
https://github.com/eclipse/omr/blob/a8cb0173e164d857350bca95fff6fce3aa92b807/compiler/optimizer/Inliner.cpp#L5505-L5507

The traceMsg assumed that `_callNode` is not NULL as passes it into `_comp->getLineNumber`.

`getLineNumber` is here:
https://github.com/eclipse/omr/blob/a8cb0173e164d857350bca95fff6fce3aa92b807/compiler/compile/OMRCompil

[2020-09-23 17:14] #5029 closed

[2020-09-24 03:21] RSalman commented on #5494
### Milestone 1

SATB functionally working with some restrictions:

- non-generational collection _(Xgcpolicy:Optavgpause)_
- Dynamic Class Unloading Disabled _(Xnoclassgc)_
- String Constant Collection Disabled _(Xdisablestringconstantgc)_
- Fully expanded heap _(Xmx == Xms)_
- Concurrent sweep Disabled _(Xgc:noConcurrentSweep)_
- No background helper threads _(Xconcurrentbackground0)_
- Inline A

[2020-09-24 05:11] RSalman commented on #5494
Some notes on Milestone 1:
- SATB coexist with Incremental for ConcurrentGC collector
   - Splitting Concurrent Execution paths based on barrier type, doConcurrentTrace splits (i.e skipping card cleaning kickoff, etc)
   - Separate verbose/trace events are required for SATB (currently using placeholder values upon generating verbose event instead of attempting to query a Nulled card table)
   - Co

[2020-09-24 19:00] RSalman commented on #5494
### Some notes on Milestone 1 (M1):

- **OOL `isMarked` check and Allocations**
  - M1 implementation requires OOL allocations, this is to mark objects live during concurrent marking. Ideally TLH should be marked _(similar to metronome's cell marking)_.
  - `ObjectAccessBarrier` isMarked check can be done inline using something similar to Metronome's `realtimeHeapMapBasePageRounded`
- **Static "du

[2020-09-25 12:14] #5538 closed

[2020-09-25 19:05] dsouzai opened #5576 "Contributor triage access test"

[2020-09-25 19:05] dsouzai commented on #5576
Can't edit labels yet.

[2020-09-25 19:08] dsouzai commented on #5576
I got the email from Eclipse stating that I've been added to `technology-omr-contributors`

[2020-09-25 19:10] fjeremic commented on #5576
I've asked on the bugzilla what the problem is:
https://bugs.eclipse.org/bugs/show_bug.cgi?id=562071

[2020-09-25 19:57] dsouzai commented on #5576
Looks like I can add labels. I _think_ I can only assign members of Eclipse though.

[2020-09-25 20:03] dsouzai commented on #5576
Maybe the limitation still exists that a non member needs to comment on an issue before it can be assigned to them.

[2020-09-28 01:39] 0xdaryl opened #5581 "PortSockTest.poll_functionality_many_sockets failure on macOS CI testing"
Seen during CI testing of #5579 (which is RISC-V specific and could not possibly have caused this failure on macOS).

[code]

[2020-09-28 14:08] fjeremic commented on #5576
It seems to be a bug on their (Eclipse's) end. They mentioned in the bugzilla link above that their sync script is resetting permissions and they are looking into it.

[2020-09-28 16:32] dchopra001 commented on #4463
JITServer should now be functional on Z. I have updated the final issue with build results here: https://github.com/eclipse/openj9/pull/10688#issuecomment-699039258.

If any new issues arise in the future, then they can be solved individually. Closing this issue.

[2020-09-28 16:34] #4463 closed

[2020-09-28 17:50] 0xdaryl opened #5582 "Agenda for Oct 22, 2020 OMR Architecture Meeting"
### Agenda

* Port library initialization with JitBuilder and OMR compiler [ @0xdaryl ]

[**Replay**]( https://youtu.be/LXCOcQXjaqU)

### Details
Thursday, Oct. 22, 2020 @ 14:00 EST (GMT -5), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (access code): 491 674 744
Meeting password: omrrocks!

North America call-in number: 1

[2020-09-28 23:59] 0xdaryl opened #5585 "Refactor X86 CodeGenerator initialization"
The current CodeGenerator class constructors for IA32 and AMD64 call invoke a function `initializeX86` to perform initialization of features common to both class hierarchies.  Such an explicit function shouldn't really be necessary, and the functionality folded into the chained `initialize()` functions already provided.  This issue tracks the work to refactor the code to make that happen.

Note th

[2020-09-30 00:31] RSalman commented on #5494
**Audit of Object Access barrier APIs making use of SATB remember object in Metronome**
This can help guide decision for Standard collectors (where SATB barrier is missing or not needed)

| Method | Implemented for Standard | Comments |
| :-------------: | :-------------: | :-------------: |
| preObjectStore | Y | _"Old value is remembered by the collector before being overwritten"_  |
| backwardR

[2020-09-30 19:10] jduimovich opened #5588 "OMR Readme dead links"
These links on the main OMR page are broken. No surprise, these are some of the older presentations but would be nice to have the history.

These are linked from the README.md file

https://developer.ibm.com/2016/07/19/jitbuilder-library-and-eclipse-omr-just-in-time-compilers-made-easy/   https://ibm.ent.box.com/s/7xdg25we2ezmdjjbqdys30d7dl1iyo49   https://developer.ibm.com/2016/03/08/introducing-

[2020-10-02 13:53] Leonardo2718 opened #5592 "Update SupportedC++Features.md"
We've upgraded a few of our compilers since the last time [SupportedC++Features.md](https://github.com/eclipse/omr/blob/master/doc/SupportedC%2B%2BFeatures.md) was updated (over a year ago). We should update that document so it's in sync with our current build compilers.

[2020-10-03 12:44] 0xdaryl opened #5594 "Make naming of CodeGenerator variable consistent"
The overwhelmingly common short form for a variable to store the `TR::CodeGenerator` object is `cg` (about 30000 instances).  The next most common form is `codeGen` (about 400).  We should use a single form for consistency and given the popularity of `cg` that should be the preferred name.  Sweep through the OMR compiler and make that change.

Here is a pipeline of greps to help find some of the p

[2020-10-05 17:05] RSalman commented on #5494
**M1 Code Changes**

I'm holding off on merging M1 changes in, I would prefer to do it when SATB code is closer to the final milestone (e.g cleaner seperation between incremental and satb in collector code, OOL to IL marks, separate verbose events, etc). For now, I'll post patches and links to branches for the Milestones.

OMR: https://github.com/eclipse/omr/compare/master...RSalman:SATB-M-1
OpenJ

[2020-10-05 20:52] harryyu1994 commented on #4339
## Latest Changes:

#### Summary of changes:
- Retire old version cpu detection code on Power
- Move `CPU::getProcessorDescription()` to base J9CPU class as the 3 platforms (X, Z, Power) share the same code. There is no need to have 3 copies
- Reasons for the removal:
  - We kept the old version because we wanted to make sure new version and old version give us the same behaviour
  - Now it's been

[2020-10-06 17:08] 0xdaryl opened #5601 "Make boolean parameters default to false in findOrCreateRuntimeHelper"
The most common usage of the API
[code]
passes `false` for the last three boolean parameters.  This is true approximately 70-75% of the time in OMR and known downstream projects.

Make the last three boolean parameters optional and defaulting to `false`.  Fix up uses this API throughout OMR and downstream projects when convenient (this should not be a breaking dependency).  This will improve the r

[2020-10-08 07:05] StEvUgnIn commented on #2287
Did you contact him?

[2020-10-08 22:42] RSalman commented on #5494
**Premark TLH _(Milestone 2 WIP)_**

The following commit addresses the inline allocation limitations of M1: https://github.com/eclipse/omr/commit/64828b1d6c548ba0b0bb746ed1972c9df9b17fc8

Previously, each allocated objected had to check allocation color and be marked accordingly. For inline allocation, as a concurrent cycle starts (during first STW) all TLHs are flushed. When a thread allocates/r

[2020-10-12 18:28] pkrc267 commented on #5594
I would like to work on this

[2020-10-12 22:15] 0xdaryl commented on #5594
Thanks for your offer to help!

[2020-10-13 05:59] pkrc267 commented on #5594
Thankyou so much.

A quick question. After renaming all the instances, should I build and test the whole project?

[2020-10-13 14:51] 0xdaryl commented on #5594
Generally, it is a good practice to test your changes to the extent that you can on your own before making a pull request (for example, on x86 Linux).  The community certainly understands that you can't test them on every platform and architecture combination.

When you do make a PR (or any time that you push new commits), a Travis CI job will run automatically that will perform a build (x86 Linux

[2020-10-14 13:34] pkrc267 commented on #5594
Made the names consistent and made a PR.
@0xdaryl  Please give feedback if I need to make certain things better or do anything different.

[2020-10-14 17:00] fjeremic opened #5610 "Improve runtime helper table with metadata"
Noted in a https://github.com/eclipse/omr/pull/5606#pullrequestreview-507717038 comment, the `findOrCreateRuntimeHelper` API could use some work. Users of this API have the ability to specify different boolean parameters for the same helper which would be incorrect. This metadata should really live beside the helper itself and it is always static. i.e. the question of whether a particular helper p

[2020-10-15 12:46] Leonardo2718 commented on #5610
FWIW, there's already code that tries to achieve something like this. Looking at [1], there are many wrapper functions for `findOrCreateRuntimeHelper` that fix the helper symbol and the values of the boolean arguments. Apparently, these don't get used consistently though. The mechanism itself is also cumbersom because users have to remember to add a function whenever they define a new runtime help

[2020-10-16 14:36] andrewcraik commented on #5581
See again testing https://github.com/eclipse/omr/pull/5605

[2020-10-19 08:44] knn-k opened #5616 "Implement omrcpu_flush_icache() for AArch64"
There is a function `omrcpu_flush_icache()` in port/unix/omrcpu.c, and it contains code only for Power.
Add code for AArch64, which is one of the platforms that need to flush instruction cache.

The simplest way to implement it for platforms with GNU toolchain is to call the built-in function as https://github.com/eclipse/omr/blob/master/compiler/aarch64/runtime/CodeSync.cpp does:
[code]

[2020-10-19 20:03] 0xdaryl opened #5620 "Document recompilation support API"
There is an undocumented interface to the recompilation infrastructure that inhibits understanding how it works.  I find myself deriving the semantics of the controlling queries from first principles each time I have to go through it.

Since I've had to go through this twice this year I think some API documentation is in order and possibly some other small changes to improve understanding of the c

[2020-10-20 17:21] jonoommen opened #5622 "Hot field Code Cleanup and Possible Removal of Old Hot Field Features"
With dynamic breadth first scan ordering in place, there is old hot field related code that should be removed. While doing this, based off an instinct of @charliegracie from a year ago, I tested the removal of hot field alignment and tenured alignment code as well, and as suspected, although hot field padding and tenured alignment at one point must of provided a performance benefit, this appears t

[2020-10-20 17:29] jonoommen commented on #5622
[results-summary.pdf](https://github.com/eclipse/omr/files/5410410/results-summary.pdf)

[2020-10-20 18:50] dsouzai commented on #5620
I see queries such as `if (recompilation && !recompilation->useSampling())` as well. Looks like the existence of a `TR::Recompilation` object implies that the current compilation is generating a body that can do something should it be recompiled (eg, in OpenJ9, jump to a helper that will patch the caller to call the new body on the next invocation).

Seems like this (and I guess `isRecompilationEn

[2020-10-21 20:24] dsouzai commented on #5576
Any luck with this? Been about a month since the last update on the bugzilla issue.

[2020-10-21 20:34] fjeremic commented on #5576
Asked for an update on the issue.

[2020-10-22 15:07] jason-hall opened #5627 "Gencon tenure contraction amount is suboptimal"
See related: github.com/eclipse/openj9/issues/7005

It was observed that tenure contraction in gencon may be suboptimal. The original observations and code inspection noted two possible issues: (1) tenure cannot contract beyond the size of the LOA even when the LOA is empty, and (2) a possibly unnecessary heuristic prevents tenure from compacting to increase the available maximum contraction size

[2020-10-22 20:30] nbhuiyan commented on #5160
@dibyendumajumdar do you have a build with the cut-down version of the OMR Compiler that you could share?

[2020-10-22 23:03] dibyendumajumdar commented on #5160
Hi, you can build from source from https://github.com/dibyendumajumdar/nj

[2020-10-23 00:40] 0xdaryl commented on #1644
After discussing at today's OMR Architecture Meeting, we agreed that to help refine the design of initializing the port library within JitBuilder and the compiler that the next step should be a proof-of-concept prototype to provide a concrete implementation for everyone to see and discuss.

@nbhuiyan had a working proof-of-concept implementation that initialized the port library from within JitBui

[2020-10-23 14:12] fjeremic commented on #5576
@dsouzai could you please try again?

[2020-10-23 14:27] dsouzai commented on #5576
Yeah looks like I can change labels. The only people I can assign are Eclipse members though. Do you know of anyone else who has triage access but is not a committer (on any Eclipse project)?

[2020-10-23 15:38] fjeremic commented on #5576
Do you mean assign people to issues? I forget the rules but I believe not even committers can assign arbitrary people. You had to have commented on the issue or be a committer/contributor to get assigned?

[2020-10-23 15:40] dsouzai commented on #5576
Ah ok, I thought that this might've addressed that issue. Ok well then seems like everything works as expected then with triage access level.

[2020-10-23 15:45] #5576 closed

[2020-10-25 12:56] arshbeerSingh commented on #5423
Can you please assign this issue to me?

[2020-10-26 15:41] 0xdaryl commented on #5423
@arshbeerSingh : thanks for your offer to help.  Please feel free to contribute a pull request.

I do recommend you first read through the [Contributors Guide](https://github.com/eclipse/omr/blob/master/CONTRIBUTING.md), and if you're not familiar with git and the workflow for OMR to read through our [git Crash Course](https://github.com/eclipse/omr/blob/master/doc/GitCrashCourse.md).

[2020-10-27 17:52] dnakamura opened #5629 "Investigate flaky test detection on Azure Pipelines"
We should look at enabling flaky test detection on Azure. Might alleviate some of the issue with #5581

see https://docs.microsoft.com/en-us/azure/devops/pipelines/test/flaky-test-management?view=azure-devops

[2020-10-27 17:52] dnakamura commented on #5629
/cc @fjeremic

[2020-10-27 18:38] aviansie-ben opened #5630 "Clean up generation of load and store sequences for Power"
Currently, the generation of load and store sequences is deeply entangled with `TR::MemoryReference` and has code copied in numerous different locations. Specifically, we are currently able to generate a memory reference for an arbitrary load/store node from any evaluator and then emit instructions manually for performing the load/store. For instance, loads on Power are implemented like the follow

[2020-10-28 16:00] fjeremic commented on #5629
Thanks, the feature was enabled but the flaky tests were still counted as failures. I've enabled manual marking/unmakring and have marked the following two tests as flaky:

- omrporttest.poll_functionality_basic
- omrporttest.poll_functionality_many_sockets

[2020-10-28 16:00] #5629 closed

[2020-10-28 17:53] fjeremic commented on #5630
Could you further explain the need for `NodeMemoryReference` to exist? It seems like an odd concept to me that doesn't exist elsewhere. What sort of counting or tracking with nodes and memory references need to be done?

[2020-10-28 18:21] aviansie-ben commented on #5630
@fjeremic The reason that nodes need to be tracked here is that some of the nodes' registers may end up being used in the `TR::MemoryReference` itself, while others may have been evaluated and used prior to generation of the memory reference. The nodes whose registers are used in the memory reference must not have their reference counts decremented until after the use of the memory reference. Take

[2020-10-28 18:38] fjeremic commented on #5630
@aviansie-ben check `ArtificiallyInflateReferenceCountWhenNecessary` on Z. This is handled transparently [1] by artificially incrementing the reference count of nodes which would die otherwise if decremented by evaluators before the use of the memory reference. The data is kept on a stack during evaluation. It avoids the user having to do anything and they don't have to worry about node reference

[2020-10-29 14:36] aviansie-ben commented on #5630
@fjeremic I see how that can resolve the problem, but I'm not sure I like that as a solution. Artificially increasing the reference count and then scheduling it to be decremented later seems like a bit of a hack to me and requires quite a bit of additional bookkeeping, although I have to admit it may be better from the evaluator's point of view to not have to worry about stuff like this.

That bei

[2020-10-29 15:03] fjeremic commented on #5630
Will we be enforcing this by removing such constructors/factory methods on `TR::MemoryReference` to make sure the user isn't even able to call the APIs which construct memory references by passing in a root load or store?

[2020-10-29 15:32] aviansie-ben commented on #5630
Sorry, I should have been more clear about this in my original proposal. The eventual goal is to remove these APIs on `MemoryReference` and in doing so both prevent misuse in evaluators and completely decouple `MemoryReference` from tree evaluation. The initial PR will not do this and will instead just have the `generateMemoryReference` function call the old APIs, but all of this code would be mov

[2020-10-29 15:37] fjeremic commented on #5630
Awesome. I support your efforts then! I'll take a look once the dust settles on your eventual PR and if all looks well we can migrate the Z codegen to a similar solution as I do agree the artificial mucking with reference counts is not the greatest solution.

[2020-10-29 22:32] aviansie-ben commented on #5630
@gita-omr @zl-wang Just a quick FYI on this, since it's aiming to fix and prevent a family of volatility related bugs I've found in the last week or so where the `lwsync`/`isync` barrier after a volatile load is missing when certain codegen optimizations are triggered. Specifically, these are locations like [1] where a load underneath another operation is optimized for without checking whether the

[2020-10-30 19:53] #5149 closed

[2020-11-01 20:16] fjeremic opened #5642 "Re-enable byteswap support on x86 and Power"
There were issues spotted since #5623 on x86 and Power.

On 32-bit x86 we seem to have problems when we use register pairs in that the byte swap is not correctly performed. Here is what we generate:

[code]

This is incorrect as we are not byte swapping the full 8-byte value. In fact it seems to use a totally incorrect register `edi` where as the 64-bit value got loaded into a register pair `edx:e

[2020-11-01 21:11] fjeremic commented on #5642
Both issues can be reproduced with OpenJ9 latest nightly driver.

For x86:
[Test.java.zip](https://github.com/eclipse/omr/files/5471756/Test.java.zip)

[code]

For Power:
[Test.Utils.zip](https://github.com/eclipse/omr/files/5471762/Test.Utils.zip)

[code]

[2020-11-01 21:11] fjeremic commented on #5642
@aviansie-ben could you please help take a look at the Power issues noted above? It seems the refcounts are all messed up somehow.

[2020-11-02 14:30] aviansie-ben commented on #5642
Oops, it looks like the byteswapped store optimization on Power wasn't correctly checking that the `*byteswap` node wasn't commoned. I'd actually encountered this issue and was sure I'd fixed it before submitting the PR, but it looks like the fix ended up on the wrong branch by mistake. :sweat_smile: That issue should be fixed by #5645.

[2020-11-02 15:58] aviansie-ben opened #5648 "Switch to using Node::isSingleRefUnevaluated() in code generators"
In many locations in the codegen, it is necessary to check that a child node is not commoned before performing any of a number of optimizations on it. Traditionally, this was done with a check like `!node->getRegister() && node->getReferenceCount() == 1`. However, this can also be checked using the more readable and shorter `node->isSingleRefUnevaluated()`, which is what's currently being done in

[2020-11-03 12:29] 0xdaryl commented on #5569
I believe the initial PR (#5575) is ready for a review now.

I implemented it slightly differently from the design above in that it only provides an API for a generic "function call" rather than separate APIs for "global functions" and "code cache functions".  I found there was too much ambiguity in deciding when to choose one over the other that I went with a single API instead.

A feature like t

[2020-11-03 13:38] 0xdaryl commented on #2304
I had forgotten about this project.  Just bumping this to raise it to the attention of those doing CPU work in the port library lately as a possible longer-term direction.   @harryyu1994 @fjeremic

[2020-11-03 15:02] bragaigor opened #5650 "Remove old double map API"
With the introduction of double map to OSX we also modified the existing double map API to accept a new argument. To avoid breaking existing code we couldn't simply replace the API. Now that the new API is in place (introduced here: https://github.com/eclipse/omr/pull/5580) we can remove the old `omrvmem_get_contiguous_region_memory` double map API code.

[2020-11-03 20:12] aviansie-ben commented on #5630
I've now opened #5652 as a WIP PR for the OMR side of this work. These changes still need more testing and there are still many areas in OpenJ9 that need to be updated to use the new API.

[2020-11-03 21:42] 0xdaryl opened #5654 "Agenda for Dec. 3, 2020 OMR Architecture Meeting"
### Agenda

* RISC-V CI builds [ @janvrany ]

* Clean up centralized opcode enums (#5703) [ @fjeremic ]

[**Replay**](https://youtu.be/5kg2D5puvxM)

### Details
Thursday, Dec. 3, 2020 @ 14:00 EST (GMT -5), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (access code): 491 674 744
Meeting password: omrrocks!

North America cal

[2020-11-04 17:40] fjeremic commented on #2590
FYI according to [1] OpenJ9 has switched to compile Windows with VS2013 which according to [2] supports scoped enums since VS2013. We should be able to complete this work item now if we propose for OMR to bump to compiling with VS2013 on Windows as well. We should first double check all the platforms have compiler support though before diving in.

[1] https://openj9.slack.com/archives/C8312LCV9/p1

[2020-11-04 17:45] fjeremic commented on #2590
Actually just realized that Slack link may expire eventually so I'll link the actual issue https://github.com/eclipse/openj9/issues/10129 here.

[2020-11-05 08:23] jason-hall commented on #5627
Related changes:
- Change the compact to aid contraction 10% heuristic to a field in GCExtensionBase: https://github.com/eclipse/omr/pull/5591
- Fix for the broken compact to aid contraction code path which never executes: https://github.com/eclipse/omr/pull/5543
- Allow tenure to contract beyond LOA size when LOA is empty https://github.com/eclipse/omr/pull/5635

For the second above, OMR PR 5543

[2020-11-05 17:55] 0xdaryl commented on #3235
With the merging of #5647 the CodeGenerator has moved to a factory construction pattern.  The constructors simply perform member initialization now with the original initialization logic moved to a separate `initialize()` function.  Closing this issue now.

[2020-11-05 17:55] #3235 closed

[2020-11-05 17:56] gita-omr commented on #5630
@aviansie-ben would it be possible to add examples of how the new interface would be used in (1) the basic case (2) the case in https://github.com/eclipse/omr/issues/5630#issuecomment-719061478

[2020-11-05 18:09] gita-omr commented on #5630
Nvm, found examples in the PR.

[2020-11-06 16:29] #4519 closed

[2020-11-06 17:27] #5571 closed

[2020-11-09 00:51] advancedwebdeveloper opened #5663 "Ubuntu 16 i686: case value cannot be narrowed to type '__fsword_t' (aka 'int') ; result of comparison, 'uintptr_t' (aka 'unsigned int') is always false"
Hi.

Build failed on

with

and

.
My generator is configured for

So I got these errors:

[2020-11-10 15:35] RSalman commented on #5494
Following things need to be addressed as part of this work:

- Incorrect path with with WB type SATB: https://github.com/eclipse/openj9/pull/10651#discussion_r492824251
- Generalize for SATB & J9VMJAVALANGREFREFERENCE_REFERENT_VM: https://github.com/eclipse/openj9/pull/11123#discussion_r520016325 -- e.g https://github.com/eclipse/openj9/blob/master/jcl/src/java.base/share/classes/java/lang/ref/Ref

[2020-11-11 02:19] knn-k commented on #5616
#5655 implemented this.  Closing.

[2020-11-11 02:19] #5616 closed

[2020-11-12 18:32] amicic commented on #5627
That 1 compaction to aid contraction was with 5543 but default minf/maxf? Without 5543 we would never see compaction to aid contraction ?

[2020-11-17 02:59] knn-k commented on #5438
#5673 implements some of the evaluators.
Remaining evaluators: ilbit/llbit, ipopcnt/lpopcnt

[2020-11-17 14:00] 0xdaryl commented on #5438
I suppose one larger question is whether these opcodes should all live and be implemented in OMR, or should really just be present in the OpenJ9 project.  There is not testing for any of these opcodes in the OMR project.  Not a topic to resolve in this issue, but perhaps something to discuss at an Architecture Meeting.

[2020-11-17 14:27] knn-k commented on #5438
These opcodes are used in https://github.com/eclipse/openj9/blob/master/runtime/compiler/ilgen/Walker.cpp for inlining some Java methods.
But I suppose what they do (counting leading zeros, etc.) is not specific to Java.  Other architectures (x, p, z) have their implementations of these evaluators are in OMR.

[2020-11-18 07:51] nikxliu opened #5676 "IBM J9 JAVA CRASH when compile a methond on optLevel warm."
I have a java application which deployed on IBM JAVA.
It's version is 8.0.6.10. OpenJ9 35ef566, OMR 4bca4f4, IBM 55acf4a.
This application always crashed when the java attempt to compile a method on optLevel warm. When I use the -Xjit parameter to decrease the optLevel to cold. The application crashed again  when the java attempt to compile another method on optLevel warm. So I want get the omr te

[2020-11-18 14:48] 0xdaryl commented on #5676
Hello...  As this is an issue with an IBM Java product, the open source OMR project isn't the best place to start.  May I suggest starting with https://ibm.com/mysupport ?

[2020-11-18 14:48] #5676 closed

[2020-11-18 14:50] 0xdaryl commented on #5676
If this problem is reproducible with OpenJ9 JDK 8 then you may wish to open an issue in the OpenJ9 project for help investigating -> https://github.com/eclipse/openj9/issues

[2020-11-19 08:24] nikxliu commented on #5676
IBM not support if you only use the ibmjdk for the standalone java application.

[2020-11-20 16:23] smlambert commented on #4390
It's possible we may be able to nudge this one forward.  Since it was last running, there has been a fair number of changes:
- with the move to cmake, we have to ensure perftests can and are being built
- with the existence of [TRSS](https://github.com/AdoptOpenJDK/openjdk-test-tools), we can monitor test runs at ci.eclipse.org/omr (so can gather and store perf data in a TRSS DB (mongoDB backend)

[2020-11-23 19:14] aviansie-ben opened #5684 "Delayed indexed form can cause incorrect register allocation"
It seems that some part of the Power codegen's local register allocator is not working correctly when presented with delayed indexed-form memory references. This appears to be causing eclipse/openj9#11248. The [trace log](https://github.com/eclipse/openj9/files/5585038/putInt.trace.6245.55318.20201123.131518.6245.txt) from that failure indicates that the following instructions are generated during

[2020-11-25 23:28] jonoommen commented on #5622
[results-summary.pdf](https://github.com/eclipse/omr/files/5599660/results-summary.pdf)

[2020-11-30 22:48] sharon-wang opened #5695 "Simplify handling of references (compressed, full, mixed-static, mixed-dynamic)"
Related: https://github.com/ibmruntimes/openj9-openjdk-jdk11/issues/361

Suggested by @keithc-ca in https://github.com/eclipse/omr/pull/5657:

---

Here's a table with all the settings, for reference (based on the implementation in https://github.com/eclipse/omr/pull/5657):
| Configure Mode  | `OMR_GC_POINTER_MODE` | `OMR_GC_COMPRESSED_POINTERS` | `OMR_GC_FULL_POINTERS` | `OMR_MIXED_REFERENCES_MOD

[2020-11-30 22:48] sharon-wang commented on #5695
FYI @gacholio

[2020-12-01 15:08] fjeremic commented on #5695
@amicic @dmitripivkine FYI.

[2020-12-02 21:55] 0xdaryl opened #5703 "Clean up centralized opcode enums"
Issue created from this Slack discussion:  https://eclipse-omr.slack.com/archives/CBSE78L4U/p1606341331037200?thread_ts=1606338276.029900&cid=CBSE78L4U

Filip Jeremic Nov 25th at 4:04 PM
I’m looking at further cleaning up the now centralized opcode enums following the PRs recently merged. I want to provide a proper way of downstream projects to override tree evaluators. My thoughts on this is to h

[2020-12-03 18:37] 0xdaryl opened #5708 "Agenda for Jan. 21, 2021 OMR Architecture Meeting"
### Agenda

* 2020 retrospective and 2021 (and beyond) goals [ 0xdaryl ]

[**Replay**](https://youtu.be/1ksZYxp0xsI)

### Details
Thursday, Jan. 21, 2021 @ 14:00 EST (GMT -5), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (access code): 491 674 744
Meeting password: omrrocks!

North America call-in number: 1-844-531-0958

[

[2020-12-03 20:03] 0xdaryl commented on #4641
I'm just bumping this as there is some investigation being done on it.  @fjeremic @janvrany

[2020-12-03 20:50] xiacijie opened #5709 "TR::VPConstraint::merge() throws SEH exception with code 0xc0000005 on windows platform"

[2020-12-05 04:00] xiacijie commented on #5709
How to reproduce this bug:
https://github.com/eclipse/omr/blob/master/fvtest/compilerunittest/abstractinterpreter/AbsInterpreterTest.cpp#L88
Line 88 ~ Line 133 is the code fraction where this exception is thrown.

`TR::AbsVPValue::merge()` calls `TR::VPConstraint::merge()` at certain point, which causes this bug.

[2020-12-07 20:26] 0xdaryl commented on #5581
This test continues to fail intermittently during CI builds (probably at least once every day depending on how many CI builds are launched).  I would say it is relatively easy to reproduce.

I'm wondering if any of @dnakamura @babsingh @tajila could take a look when they have a few spare cycles?  Thanks.

[2020-12-08 02:18] fjeremic commented on #4641
I spent the last day and a bit wrestling with Docker which turns out to be some super subtle issue which seems silly in hindsight. Anyway I have a partial Dockerfile which will cross-compile OMR for RISC-V and enable us to run OMR tests via QEMU on x86-64 in reasonable time. I think we can proceed forward with this for both PR testing and builds. Here is the Dockerfile:

[code]

You can build it w

[2020-12-08 02:21] fjeremic commented on #4641
@jdekonin @AdamBrousseau we have a total of 13 AMD64 UNB machines on the OMR farm. Looking at the load statistics we can for sure spare a few for RISC-V cross compile build + test via QEMU as shown above. This will greatly help the progress @janvrany and @shingarov have been making to ensure code getting contributed does not break RISC-V moving forward.

Are we able to spare say two machines to be

[2020-12-08 11:10] janvrany commented on #4641
If I may, I'd suggest to try to make it running on existing build machines. IIUC, all it takes is to:

 1. install RISC-V cross-compilation toolchain and qemu
 2. drop pre-built debian rootfs somewhere where CI pipeline can find it.

The advantage would be that we (well, not me :-) don't have to reimage machines and
we can use all machines for RISC-V builds having load spread across all of them.

[2020-12-08 15:11] jdekonin commented on #4641
All the x86 systems on the OMR jenkins ci are ubuntu16.

[2020-12-08 16:59] fjeremic commented on #4641
Ok, I'm going to boot up a clean Ubuntu 16 VM and try the steps above to see if we can get it working there. I will message you @janvrany on Slack if I encounter problems to see if we can work them out. I will report back here once we have something noteworthy.

[2020-12-09 18:28] fjeremic commented on #4641
Ubuntu 16 will not work because the cross-compilation toolchains are not available on that version [1]. They are only available starting Ubuntu 18. I built the `rootfs` on my Debian 10 Docker image and transferred over to a clean Ubuntu 18 installation and followed all the other steps. I am successfully able to run RISC-V build + test in this environment:

[code]

It seems like the only way to pro

[2020-12-09 19:14] janvrany commented on #4641
Alternative would be to build (backport) cross toolchain for Ubuntu 16 and install it there. I may try that, if it makes things easier.
Moreover, if upgrading, why not to upgrade to 20 (also LTS)?

[2020-12-09 20:27] fjeremic commented on #4641
Seems reasonable, though I haven't tested on 20 if the above is working. If you want to give it a shot to backport to 16 that would be appreciated because we do have machines on hand.

[2020-12-09 20:29] janvrany commented on #4641
OK, I'll give it a shot in next few days.

[2020-12-10 19:01] jonoommen opened #5714 "Excessive GC not Triggering When it Should"
Excessive GC should be triggered when the following criteria is met:
- CPU overhead > 95%
- GC reclaimed memory < 3%

However, it is possible for both these criteria to be met and yet excessive GC is not raised. The theory here being that GC reclaimed memory in certain scenarios is not properly measured. A particular scenario would be the following that presented itself in https://github.com/eclip

[2020-12-10 22:41] dmitripivkine opened #5715 "Inconsistent implementation of VM_FLAGS_SUPERPAGE_SIZE_ANY on OSX"
There is an implementation of OSX specific feature "free choice of super page"  in Port library currently.
An idea is that `VM_FLAGS_SUPERPAGE_SIZE_ANY` flag can be provided in `fd` for `mmap` as request to let kernel decide page size should be used.

However an implementation of this feature is inconsistent with implementations for different platforms and causing problems.

Common rules supported

[2020-12-11 00:38] gita-omr opened #5717 "Fix a problem caused by #5653"
https://github.com/eclipse/omr/pull/5653 caused a problem on a 32-bit Power platform because it created a MemoryReference to unresolved symbol that was never used. The memory reference constructor created an UnresolvedData snippet that did not have an address in the code to return to. That caused an ASSERT. We need to find a safe fix asap.

@aviansie-ben @rmnattas @AlenBadel @pshipton

[2020-12-11 01:34] bragaigor commented on #5715
Hi, like Dmitri said, there's very few information when it comes to large(super) pages in OSX. I found this source code where we define the super page flags Dmitri mentioned above: https://opensource.apple.com/source/xnu/xnu-6153.81.5/osfmk/mach/vm_statistics.h.auto.html (it's also depended on XNU kernel version, this doc concerns version xnu-6153.81.5).
Arrived to this link through https://www.un

[2020-12-11 02:15] pshipton commented on #5715
Note that pageFlags is not `[0, OMRPORT_VMEM_PAGE_FLAG_SUPERPAGE_ANY, 0, 0]`. All the unused entries are set to OMRPORT_VMEM_PAGE_FLAG_NOT_USED, which has value 0x1, so the values are
`[1, OMRPORT_VMEM_PAGE_FLAG_SUPERPAGE_ANY, 1, 0]`. If the rule for traversing the array is to check both pageSize and pageFlags for 0, this still works.

[2020-12-11 09:19] janvrany commented on #4641
I gave it a shot and failed. Will give it one more...

[2020-12-11 16:34] rmnattas commented on #5717
Can't say I'm familiar with MemoryReference as I don't see how the fix doesn't also end up with a memory reference
with both an index register and an offset.

Bit, one fix I see that uses only 2 MemoryReferences is having the encoding of the MemoryReference inserting `addi indexReg indexReg offset` when the MemoryReference is both an index register and an offset. And there's no P instructions, tha

[2020-12-11 17:16] aviansie-ben commented on #5717
Looking at the code in question, I'm not 100% sure if it's even valid to get there when performing a store to an unresolved symref. That code is only meant to handle stores known not to be volatile and I can't think of any situations where we would create a store to a symref that's unresolved but not marked as volatile.

Regardless, as this is a ppc32-only problem and the code in question is under

[2020-12-11 18:51] gita-omr commented on #5717
Thanks @aviansie-ben for your response. It really helps! The issue does affect upcoming OpenJ9 and IBM SDK releases.

Interestingly, it's exactly what happens in this case: unresolved symbol is not a volatile (not sure why yet).

[2020-12-12 00:03] fjeremic commented on #5703
I've gone ahead and made the changes as proposed on the OMR Architecture meeting in #5720 and I also have a corresponding change in OpenJ9 at eclipse/openj9#11465 just to show how things look. A few notes to make which I'll summarize here:

- The change was prototyped only for AMD64 as an example
- The changes are an absolute extreme of what will be done because there will never be more "stub" fun

[2020-12-14 13:38] janvrany commented on #4641
I have it a second shot and missed, too.

I sucessfully compiled GCC 10 cross compiler using this script (a modification of another one I found) https://gist.github.com/janvrany/b34f09bc088bb56074fbb7fe4d2dbfae

However, such GCC is missing a library search path (`/usr/lib64/lp64d/riscv64-linux-gnu`), not yet sure why, so CMake does not find libraries in sysroot. Working on that. Sigh, this is far

[2020-12-14 17:34] fjeremic commented on #4641
@jdekonin / @AdamBrousseau can we get an estimate of how much work it is to reimage? We know we have a working setup with Ubuntu 18. I guess we're trying to weigh investing further effort into getting this thing to work on Ubuntu 16 via @janvrany's efforts vs. just upgrading the OS.

[2020-12-14 17:39] janvrany commented on #4641
Yeah, spent good part of today on it to no avail - I have no idea (so far) how to add this ti GCC's search path (i.e., to `--print-search-dirs`).

[2020-12-14 18:23] jdekonin commented on #4641
- clone existing ub18; 30 mins, although I would suggest we borrow an OpenJ9 instance and do the work directly on that one as I am guessing eventually a cross compile environment will be wanted there correct?
- test with OMR build; 30 mins???
-- its setup for testing not compilation, so not sure what the requirements are for OMR compile; 1 hour
-- setup cross compile environment according to steps

[2020-12-14 18:25] jdekonin commented on #4641
I've moved a ub18 system over from OpenJ9 (since I have permissions in both).  What is the best way to test it?  Are there instructions or listed requirements for what is needed on the system anywhere? I cannot commit to much for time this week as I have a pretty full schedule but I can see what I can poke along.

https://ci.eclipse.org/omr/computer/ub18-x86-1/

[2020-12-14 18:47] fjeremic commented on #4641
Thanks Joe. Yes there are instructions for tools needed and an example step-by-step instructions here:
https://github.com/eclipse/omr/issues/4641#issuecomment-740316109

Creating the rootfs will not work on Ubuntu 18. The Dockerfile and instructions there are for Debian 10. The only difference for Ubuntu 18 is that we skip the `rootfs` creating and just copy it from a Debian 10 Docker image. I hav

[2021-01-13 13:30] jdekonin commented on #4641
I removed ub18-x86-1 as there were package dependencies not present from OMR jenkins.  @rajdeepsingh1 has a Debian 10 install in progress for you to use.

[2021-01-13 19:33] fjeremic commented on #4494
This was implemented in #4490.

[2021-01-13 21:00] 0xdaryl commented on #4494
#4490 just implemented the stub and disabled the opt.  I think the work to implement prefetch and enable the opt still needs to be done.  So I think this issue should remain open.

[2021-01-13 22:38] mstoodle commented on #5663
Apologies for the late response here @advancedwebdeveloper : most of the folks working on OMR don't do much with 32-bit systems and we seem to have lost most of our active port library contributors :( .

32-bit builds using the recommended (ancient) compilers seem to work just fine (now that we've removed a misconfigured machine from the build list). But not so much on the system/build compiler yo

[2021-01-14 22:20] fjeremic commented on #4641
I got access to the machine via SSH and will be performing the setup tomorrow.

[2021-01-15 20:27] fjeremic commented on #4641
Ok, so forward progress. I was able to replicate the full setup on our OMR Jenkins machine. Here are the stats:

[code]

Unfortunately we take much longer to build and run the tests on this machine. The test portion also crashed with a segfault during `comptest` of `CompareTest/DoubleCompareOrUnordered` which I am going to take a quick peek through now, but comparing to other platforms this seems

[2021-01-18 19:04] #4464 closed

[2021-01-19 08:35] janvrany commented on #4641
I have just opened a draft PR demonstrating an alternative, CMake-based solution to run tests under simulator for cross-compilation jobs: see #5755

[2021-01-19 15:19] #2911 closed

[2021-01-20 16:35] 0xdaryl opened #5762 "Agenda for Feb. 4, 2021 OMR Architecture Meeting"
### Agenda

* RISC-V CI pipeline update [ @fjeremic ]
* Deprecate PrefetchInsertion optimization [ @fjeremic ]
* Switch to using Node::isSingleRefUnevaluated() in code generators (#5648)
* Avoid using TR::comp in Z InstOpCode utility functions (#5663)
* Standardize compiler getter/setter syntax (#4575)
* Size-optimized builds

[**Replay**](https://youtu.be/so4uTgCIbH0)

### Details
Thursday, Feb.

[2021-01-21 01:40] JCodyA commented on #5650
Hello!  This might be a good task for me.  I was searching through the code with git grep for mentions of ```omrvmem_get_contiguous_region_memory```.  I'm trying to figure out what needs to be removed.  Thanks for any guidance on this, I'm pretty new to all this still.

[2021-01-21 02:12] bragaigor commented on #5650
That's a good start. This is where double map was originally introduced with the original API, which might help: https://github.com/eclipse/omr/pull/3555

[2021-01-21 15:07] bragaigor commented on #5650
This function is defined in many different `omrvmem.c` because we separate platform specific implementation. So you would need to remove from all the `omrvmem.c`s files. Not only that, `doubleMapArraylet` has also been deprecated so that can be removed as well, and you can that the substitute for that was added here: https://github.com/eclipse/omr/pull/5580/files#diff-fa4ed1285251b1f11bda06344804e

[2021-01-21 15:19] JCodyA commented on #5650
That does help thank you.  I think I have enough to get started now.  I'll open a [WIP] PR as soon as possible and will likely note my problems there.  I appreciate your help!

[2021-01-21 15:20] mstoodle commented on #5663
@advancedwebdeveloper would you please provide the `cmake` command line you've used, just for reference?

[2021-01-21 15:27] bragaigor commented on #5650
No problem, glad to help. If you could add a link of this issue in the PRs description that would be great, so we can keep track of it

[2021-01-22 12:24] #5708 closed

[2021-01-22 12:25] #5654 closed

[2021-01-22 12:25] #5582 closed

[2021-01-29 19:01] georgkrylov opened #5775 "OMR ILBuilder ConstInt64 logging problem"
Hello everyone,

There is an issue with displaying constant values generated by commands like
``` OMR::JitBuilder::IlValue *int64Val = ConstInt64(0xffffffff);```
in ILGenerator traces.
The issue can be demonstrated by looking at the log files for
[code]
The contents of the log file are:
[code]

The expected output for the log is supposed to show  4294967295.
The problem is in the logging output fo

[2021-01-29 20:05] #5775 closed

[2021-02-01 22:02] 0xdaryl commented on #4874
Issue seems to be resolved.  Closing.

[2021-02-01 22:02] #4874 closed

[2021-02-02 14:18] mstoodle opened #5780 "investigate public definitions of self() in compiler"
@georgkrylov pointed out in #4557 that OMRCompilation.hpp defines `self()` as a public member function. I believe the nature of `self()` should be constrained to `protected` access: there should not be a need for a class outside of the extensible hierarchy of e.g. Compilation to call Compilation's self() function. External classes should only referring to the fully extended `TR::Compilation` type.

[2021-02-02 20:12] janvrany commented on #4641
Time to close this issue?

[2021-02-02 20:21] fjeremic commented on #4641
Yes, just waiting to see if anyone disagrees to enable it by default:
https://eclipse-omr.slack.com/archives/CCQ8B4B39/p1612289540003400

[2021-02-03 12:58] 0xdaryl commented on #5588
Someone independently reported this issue to me as well.  If the older blogs can't be found I suppose at the very least the links should be deleted.

[2021-02-03 13:01] 0xdaryl commented on #5588
@youngar did make an attempt to clean this up in #5049.

[2021-02-03 14:38] fjeremic commented on #4641
Enabled by default now. Tested it over in #5785.

[2021-02-03 14:38] #4641 closed

[2021-02-03 14:38] ABHI12800 commented on #5780
hi @mstoodle @0xdaryl @fjeremic
i am new here can i take this issue

[2021-02-03 15:15] mstoodle commented on #5780
That's great, @ABHI12800 ! Thank you for offering to help. Is the context for this item clear to you, or is there anything we can do to help you get started?

fwiw, I recommend you start with just one (one of the simpler) classes that has public `self()` references and create one commit in a PR for us to review, just to make sure you're on the right track before you spend time modifying a bunch of

[2021-02-03 15:43] georgkrylov opened #5786 "Issue with cmake configuration while building jitbuilder with explicitly providing compile definitions instead of using target name"
Hello everyone,
Until recently was unfamiliar how to build compiler targets by supplying a build target name, so I was always building targets by explicitly providing all -D definitions.
For instance, to build jitbuilder target, I was using
``` cmake -DOMR_COMPILER=ON -DOMR_TEST_COMPILER=ON -DOMR_JITBUILDER=ON -DOMR_JITBUILDER_TEST=ON .. && make -j12 ```
This made me wonder if jitbuilder should be

[2021-02-03 18:50] ABHI12800 commented on #5780
Thanks for replying @mstoodle. Sure, I will start with one.

 I think the context is little bit clear to me. And I will surely need help since its my first contribution.

[2021-02-03 19:17] mstoodle commented on #5780
You'll probably want to read up on extensible classes a bit, which you can find in `docs/compiler/extensible_classes`  [1]. In particular, you'll want to read the section on `self()` [2] . We use extensible class hierarchies to compose together code from OMR and consuming projects. Extensible classes are an alternative to CRTP that we see as more attractive for our particular use case.

Just like

[2021-02-04 00:49] 0xdaryl commented on #4354
I am inclined to close this issue as there are no details provided other than the title.  @rwy0717 : if you wish to re-open please do with more details and motivations.  Thanks!

[2021-02-04 00:49] #4354 closed

[2021-02-04 00:52] 0xdaryl commented on #4102
@mpirvu: Should this issue remain open if the work is complete and merged?

[2021-02-04 01:19] 0xdaryl opened #5788 "Agenda for Feb. 18, 2021 OMR Architecture Meeting"
### Agenda

* Initialize/shutdown portlib in JitBuilder and Test Compiler (#5798) [ @nbhuiyan ]
* Discuss state of Options rework (#3675)

[**Replay**](https://youtu.be/wjWp5XUTXDY)

### Details
Thursday, Feb. 18, 2021 @ 14:00 EST (GMT -5), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (access code): 491 674 744
Meeting pas

[2021-02-04 01:48] mpirvu commented on #4102
This issue can be closed as the work is complete.

[2021-02-04 01:48] #4102 closed

[2021-02-04 10:23] ABHI12800 commented on #5780
hey I have made the changes to one class `OMRCompilation.hpp` and removed the declaration from `public` and rewrite it using `protected` can you check it, is this is the right way or I should create this commit in PR.

![OMRCompilation hpp 'self class to protected'](https://user-images.githubusercontent.com/55917511/106879408-1cc17200-6701-11eb-9af3-d715bce7f11a.PNG)

[2021-02-04 18:18] fjeremic commented on #5762
@0xdaryl could we put another topic on the list? I'd like to propose deprecating PrefetchInsertion optimization. I can talk about why, and if people on the call don't see objections we can open up an issue to document this and I can get the work done.

[2021-02-04 18:22] 0xdaryl commented on #5762
Sure.

[2021-02-04 19:43] patilca commented on #4575
Found this interesting article that lists different return for setter and use case for those..
https://perlmaven.com/what-should-setters-return

[2021-02-05 18:11] mstoodle commented on #5780
That will do, yes. Another way would be to move the `self()` declaration down to the already existing `protected:` section of the class. But I think either one is fine. @0xdaryl do you have any preference one way or the other?

Also, just for convenience, @ABHI12800 has opened a PR for review here #5793 .

[2021-02-05 18:23] 0xdaryl commented on #5780
I don't have any real preference.  There are lots of different styles in use throughout the code base.  Thanks for taking on these changes.

[2021-02-05 18:32] ABHI12800 commented on #5780
Thanks for your reply. :)
So should I make changes to other files?
and I will check the Bot details and make the necessary changes.

[2021-02-05 18:43] mstoodle commented on #5780
I suggest we get your first PR merged as you work out all the mechanics involved in contributing, then we would happily welcome more changes like this one from you.

[2021-02-05 20:10] fjeremic commented on #5648
As discussed on Feb. 4, 2021 OMR Architecture call we will eliminate these APIs and inline their uses which are predominantly in the Z codegen. I will do this work shortly.

[2021-02-08 20:48] ABHI12800 commented on #5780
Opened PR for OMR::AliasBuilder #5799
Opened PR for OMR::Method #5801
Opened PR for OMR::SymbolReferenceTable.hpp #5802

[2021-02-08 20:48] ABHI12800 commented on #5780
Is this ok?

[2021-02-08 20:58] fjeremic commented on #5780
@ABHI12800 those PRs are unnecessarily small. May I suggest we open up one PR and have all the commits in there?

[2021-02-08 21:15] ABHI12800 commented on #5780
Sorry ,I will do that.

[2021-02-08 21:53] ABHI12800 commented on #5780
Opened PR as #5803

[2021-02-09 18:34] #5648 closed

[2021-02-10 01:36] 0xdaryl commented on #3774
I am inquiring about the state of this issue and the 8 open PRs that accompany it as there does not appear to be much activity on this front in nearly two years.  @bharathappali, what are your plans to move them forward?  I think only one (#3823) did not receive any committer attention yet; the rest are either in WIP state or are awaiting input from the author.

If there are no plans to make progr

[2021-02-10 17:25] fjeremic commented on #5788
Could we discuss the existence/need for linkage properties classes:
https://eclipse-omr.slack.com/archives/CBSE78L4U/p1612977528020700?thread_ts=1612973489.020000&cid=CBSE78L4U

There was a question recently on this topic. On some platforms they exist, on others they don't. IMO we should try to be consistent and make the call on whether having such classes is useful, and if not, inline their field

[2021-02-11 15:04] ymanton commented on #4949
Long since fixed.

[2021-02-11 15:04] #4949 closed

[2021-02-11 19:07] fjeremic commented on #5788
Could we also get an update on the state of the new options infrastructure?

[2021-02-13 14:29] knn-k opened #5808 "fbits2i/dbits2l failures on x86-64 Windows"
Tests for fbits2i and dbits2l in compilertriltest/TypeConversionTest.cpp generate the following failures on x86-64 Windows.

https://dev.azure.com/eclipse-omr/omr/_build/results?buildId=2898&view=results
[code]

[2021-02-13 14:31] knn-k opened #5809 "fbits2i/dbits2l failures on x86-64 macOS"
Tests for fbits2i and dbits2l in compilertriltest/TypeConversionTest.cpp generate the following failures on x86-64 macOS.

https://dev.azure.com/eclipse-omr/omr/_build/results?buildId=2898&view=results
[code]

[2021-02-13 14:49] knn-k commented on #5808
See also #5324.

[2021-02-13 16:52] fjeremic commented on #5808
#5809 could be related as well.

[2021-02-14 02:34] knn-k opened #5810 "fbits2i failure on RISC-V Linux"
An fbits2i test in compilertriltest/TypeConversionTest.cpp generates the following failure on RISC-V Linux.

https://ci.eclipse.org/omr/job/PullRequest-linux_riscv64_cross/57/consoleText
[code]

[2021-02-14 02:54] knn-k commented on #5809
Similar failure on RISC-V Linux, but only with `fbits2i`: #5810.

[2021-02-16 07:33] janvrany commented on #5788
@fjeremic: May I kindly ask to push linkage properties topic to the next meeting, March 4th?

[2021-02-17 18:06] keithc-ca opened #5813 "Implement core dumps for notarized applications on macOS"
On macOS, core dumps are currently created by sending a signal to the process (see [omrdump_create()](https://github.com/eclipse/omr/blob/master/port/unix/omrosdump.c#L188)). This works fine for an application built locally, but requires requesting the `com.apple.security.get-task-allow` entitlement during the code signing processes.

Unfortunately, Apple will normally refuse to notarize applicati

[2021-02-18 15:22] 0xdaryl opened #5816 "Agenda for March 4, 2021 OMR Architecture Meeting"
### Agenda

* Refactoring and cleanup of Linkage properties (#5836) [ @janvrany ]

* Preferred Jenkins trigger for CI jobs [ @fjeremic ]

[**Replay**](https://youtu.be/-4lV-YbHl58)

### Details
Thursday, Mar. 4, 2021 @ 14:00 EST (GMT -5), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (access code): 491 674 744
Meeting passw

[2021-02-22 11:37] janvrany commented on #5810
Yes, the implementation is completely bogus. It uses `FCVT.?.?` which *converts* the FP value into int value. Has to be done differently. Good catch! Will have a look.

[2021-02-24 16:17] fjeremic commented on #5816
I would like to propose we also discuss the deprecation of @genie-omr and whether we should rename the trigger keyword to something else (ex. "Jenkins"). Unfortunately the user @genie-omr user was not controlled by us and was removed so this seems to be a reasonable time to think of whether we would like to change they keyword.

[2021-02-24 17:59] fjeremic commented on #5762
Prefetch insertion is deprecated in #5826 after rigorous performance testing.

[2021-02-25 14:36] RSalman opened #5829 "GC Parallelism and Adaptive Threading"
### Summary
In general, parallelism is most beneficial when done with correct number of threads (optimal threads), anything more than this number results in unnecessary overhead. On the other hand, a thread count less than optimal threads is considered to be sub-optimal as there’s opportunity to parallelize a task further and gain benefits. The point at which we reach peak performance can be refer

[2021-02-25 14:37] RSalman commented on #5829
Table 3 shows how the Dynamic Threading model/heuristics approach works, it provides a matrix of inputs and resulting recommended thread count. For example, if at end of a cycle the %stall is 90% and the cycle utilized 12 threads, then the model will throttle threads down to 8 threads for the next cycle. Similarly, we would increase thread count from 12 to 15 if we determine %stall to be 35%. Note

[2021-02-25 14:37] RSalman commented on #5829
Figures 3 and 4 below illustrate how Dynamic Threading works to reduce parallelization overhead by reaching equilibrium point/optimal thread count. Figure 3 shows %stall and number of threads utilized for a given cycle, while figure 3 shows proportions of stall/busy times for a given cycle. The number of threads utilized at any given cycle M is determined using the model with inputs of threads uti

[2021-02-25 14:38] RSalman commented on #5829
Tables 4 and 5 show results from a multi-JVM scenario with Dynamic Threading enabled (table 5) and disabled (table 4). This example illustrates 6 JVMs running on the same system, where JVMs 1 to 4 run with the same GC workload, while 5 and 6 run different workloads. When comparing tables 4 and 5 we observe average collection times to be lower with dynamic threading. This is most apparent when comp

[2021-02-25 14:40] RSalman commented on #5829
Thread distributions (from Dynamic Threading) for this multi-JVM scenario can be observed in figures 6 (VM1-4), 7 (VM5) and 8 (VM6) below. For a given number of threads, these figures show the total number of collection cycles that utilized the amount. The reduced collection times in table 5 (compared to table 4) are a result of the change in utilized threads illustrated by these figures.

![image

[2021-02-26 16:32] fjeremic opened #5833 "Grant @janvrany SSH access to deb10-x64-1 RISC-V cross compile machine"
Since enabling RISC-V cross compile support on `deb10-x64-1` we have been encountering intermittent problems with tests hanging at a particular point. Our primary contributor to RISC-V support is @janvrany. I would like to propose we grant him SSH access to this farm machine so he can hop on and try to reproduce the issue which he is unable to do so locally.

[1] #5831
[2] https://eclipse-omr.slac

[2021-02-26 16:40] jdekonin commented on #5833
@janvrany if you could supply me (slack is fine) your sshkey I can provide you details for accessing this machine.

[2021-02-26 17:00] jdekonin commented on #5833
Access and details sent to Jan via slack.

[2021-02-26 17:00] RSalman commented on #5829
This work is related to https://github.com/eclipse/omr/issues/5318

[2021-02-26 17:03] janvrany commented on #5833
I confirm I was able to log in, I think this can be closed.

[2021-02-26 18:36] #5833 closed

[2021-03-01 11:31] janvrany commented on #5816
I have just opened a draft just to demonstrate what I was / I'm thinking of. If interested, see #5836

[2021-03-01 19:19] mpirvu opened #5837 "Optimizer should access javaVM->systemClassLoader through frontend query"
The following lines in OMRSymbolReferenceTable.cpp https://github.com/eclipse/omr/blob/master/compiler/compile/OMRSymbolReferenceTable.cpp#L1321-L1327 access `javaVM->systemClassLoader` directly instead of using a frontend query like `fej9->getSystemClassLoader()`. This can lead the the FATAL_ASSERT firing under JITServer (remote compilation).

[2021-03-01 19:20] mpirvu commented on #5837
@dmitry-ten Could you please provide a fix for this issue? Thanks

[2021-03-04 01:33] #5837 closed

[2021-03-04 14:59] 0xdaryl opened #5842 "Agenda for March 18, 2021 OMR Architecture Meeting"
### Agenda

* Define the OMR compiler API (#5858) [ 0xdaryl ]

[**Replay**](https://youtu.be/VgN6eZph56I)

### Details
Thursday, Mar. 18, 2021 @ 14:00 EDT (GMT -4), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (access code): 491 674 744
Meeting password: omrrocks!

North America call-in number: 1-844-531-0958

[Other globa

[2021-03-04 20:21] janvrany commented on #2082
An experiment to refactor and cleanup of linkage properties: #5836, disussed on OMR Arch meeting #5816

[2021-03-05 19:01] dsouzai opened #5844 "Access fields of TR_InlinedCallSite via getters/setters"
The definition of `TR_InlinedCallSite` is
[code]
Under relocatable compilations, `_methodInfo` does not actually hold a `TR_OpaqueMethodBlock *` but a `TR_ResolvedMethod`. This means that every part of the code that accesses `_methodInfo` needs to remember that under relocatable compilations, it has to do something like
[code]
Failing to do so can lead to crashes or very subtle bugs (for example,

[2021-03-08 21:16] dmitry-ten commented on #5844
@fjeremic @0xdaryl if you guys have no objections to the implementation suggested by Irwin, I'll start working on this item.

[2021-03-09 03:48] 0xdaryl commented on #5844
My recollection for the reason this header file is a `.h` file (as opposed to a `.hpp` file) is so that it can be included in C files.  If you make `TR_InlinedCallSite` a class you break that contract.  And to make the fields private I think you have to make it a class.

If you don't make it a class, what do your getter and setters look like, and are they callable from MethodMetaData.c and the DDR

[2021-03-09 15:37] dsouzai commented on #5844
Ah that's unfortunate. I guess the getters & setters could be declared extern C then; at the end of the day we just need a wrapper so that if we're in an AOT compilation we know that `_methodInfo` isn't actually a `TR_OpaqueMethodBlock *`.

[2021-03-09 19:43] fjeremic commented on #5844
An alternative is to make the field a `void*` since it seems we can store different types there. Then the user of the field has to ensure they cast to the correct type.

[2021-03-09 19:46] 0xdaryl commented on #5844
Without doing the full implementation, can you paste a sample getter/setter here that you propose?

[2021-03-09 21:40] fjeremic opened #5848 "Remove unsafe uses of sprintf in favor of omrstr_printf"
We discussed this in #5847. Using `sprintf` is unsafe as we can get buffer overflows which can corrupt the stack. We should prefer to use safe APIs. Our port library offers `omrstr_printf` which is very similar to `snprintf` and is also cross platform. Once the port library is initialized and available to the compiler we should go through and try to eliminate unsafe uses of `sprintf`.

[2021-03-10 16:37] dsouzai commented on #5844
Something like:

[code]

I looked over the code, and from what I can tell, we only store a `TR_AOTMethodInfo` during compilation in `incInlineDepth`. Most places that read out `_methodInfo` from the callsite wants the `TR_OpaqueMethodBlock`, so it would make sense to replace these with the `getMethodInfo` API.

At present nothing in OMR needs the `TR_AOTMethodInfo` but there's one location that ne

[2021-03-10 16:50] dsouzai commented on #5844
You know, on second thought, we might not even need `setMethodInfo`. There's this bizarre code in OpenJ9:
[code]
that overwrites the `TR_InlinedCallSite` struct in the `comp` object before mem copying it into the metadata.... I have no idea why we wouldn't just make a new copy.

Also thinking on it, we can't blindly replace uses of `inlinedCallSite->_methodInfo` in RelocationRecord.cpp because at

[2021-03-10 18:19] dsouzai commented on #5844
That should be ok; you just have to take into account the fact that
[code]
is used when we inline a method, whereas
[code]
is used only in estimate bytecode size; even though the compiler adds a `TR_InlinedCallSite` it removes it later on. (FWIW, OpenJ9 overrides this to assert that we only use that API if we're going to remove it later).

[2021-03-10 18:27] dsouzai commented on #5844
Might not even really matter actually; as long as you always add to the new TR_Array wherever we add to `_inlinedCallSites` and remove wherever we remove from `_inlinedCallSites` then everything will be consistent.

[2021-03-10 18:36] dmitry-ten commented on #5844
Yeah, I will get to it then.

[2021-03-11 17:45] bragaigor opened #5851 "Remove obsolete struct movedObjectHashCode"
`struct movedObjectHashCode` is code specific to external OpenJ9 project; therefore it got moved which makes the existing OMR `struct movedObjectHashCode` obsolete.

Good first time issue.

[2021-03-15 05:20] KenCox94 commented on #5851
I’d like to tackle this

[2021-03-15 13:07] bragaigor commented on #5851
Awesome! There's no usages of the `struct movedObjectHashCode` in the code so all you would have to do is remove the definition and declaration of it

[2021-03-15 20:07] bragaigor commented on #5851
I don't have the power to assign people to issues. But don't worry, since you were the first to claim it, no one will be stepping here. We just ask that you refer this issue in the commit/PR that you open.

[2021-03-15 20:10] bragaigor commented on #5851
Also don't forget to sign the ECA agreement (that's the reason you an X besides the `eclipsefdn/eca` check). You can find instructions here: https://github.com/eclipse/openj9/blob/master/CONTRIBUTING.md

[2021-03-15 20:13] bragaigor commented on #5851
Once that's done you'll have to sign your commit message. Here's an example: https://github.com/eclipse/openj9/commit/d337957fcc249547472f5391b43ab803740d9687
[code]

[2021-03-15 20:14] KenCox94 commented on #5851
copy all! Doing that now

[2021-03-16 19:58] manqingl commented on #5813
@keithc-ca @tajila @mikezhang1234567890 : if we are to implement our own mechanism to save memory content, do we know how feasible/reliable it would be?  What would be the size of work?

Intuitively I assume Apple would not leave an easy backdoor for us if Apple decides to block it; and I assume Apple can block it unexpectedly in the future.

[2021-03-16 20:14] keithc-ca commented on #5813
It's not clear to me how Apple could block the creation of core files. The format is documented, and from the perspective of the OS, the application is simply writing a (large) file.

[2021-03-16 20:18] manqingl commented on #5813
@keithc-ca So we do not have to figure out which memories are for what?

[2021-03-17 02:13] #5816 closed

[2021-03-17 03:31] 0xdaryl opened #5858 "Define the OMR Compiler API"
As other language environments begin to make progress on consuming the OMR compiler, the need to define, document, and stabilize the API to the compiler becomes increasingly important. A well-defined compiler API is necessary for the compiler to be included in future OMR releases, and it will simplify the future integration of the compiler into even more language environments.

It is important to

[2021-03-17 03:34] 0xdaryl opened #5859 "Agenda for April 15, 2021 OMR Architecture Meeting"
### Agenda

* Extensible class visibility and extension modifiers (#5913) [ @0xdaryl ]
* Remove unused IL opcodes (#5914) [ @0xdaryl ]
* Introduce Python dependency in OMR build (#5916) [ @0xdaryl ]
* Eliminate signed commit requirements [ @0xdaryl ]

[**Replay**](https://youtu.be/iSns4H6ADuA)

### Details
Thursday, Apr. 15, 2021 @ 14:00 EDT (GMT -4), 90 minutes maximum

Join [Webex](https://ibm.w

[2021-03-18 16:09] keithc-ca commented on #5813
We should be able to enumerate the regions of memory that need to be captured, using the same APIs as used by https://github.com/ePirat/gcore, but applied to the process itself rather than needing the entitlement required by using `task_for_pid()` to access a distinct process.

[2021-03-18 19:49] #5851 closed

[2021-03-18 19:50] #5788 closed

[2021-03-18 19:50] #5762 closed

[2021-03-19 00:27] #5842 closed

[2021-03-23 14:38] #5844 closed

[2021-03-25 19:16] JasonFengJ9 opened #5881 "omrsysinfo_get_addressable_physical_memory()/omrsysinfo_get_limit() usages at z/OS"
**Problem summary:**

A recent internal investigation discovered that OMR GC doesn't create the heap with proper size at `z/OS` accordingly to `ulimit -M value` which sets `memory above bar` [1].

GC uses `IARV64`/`__moservices` to create the heap which can only be allocated at `memory above bar`.

The root cause was due to the usage of `omrsysinfo_get_addressable_physical_memory()` which invokes

[2021-04-03 10:46] knn-k opened #5891 "AArch64: missing arithmetic evaluators"
The following evaluators are missing on AArch64:

- iudiv/iurem
- ludiv
- sadd/ssub/smul
- badd/bsub/bmul

[2021-04-03 11:05] knn-k opened #5892 "AArch64: missing shift evaluators"
The following evaluators are missing on AArch64:

- bshl/bshr
- sshl/sshr
- bushr
- sushr

[2021-04-03 11:16] knn-k opened #5893 "AArch64: missing ifcmp evaluators"
The following evaluators are missing on AArch64:

- ifbcmpge
- ifscmpge
- ifbucmpge
- ifsucmpge

[2021-04-03 11:20] knn-k opened #5894 "AArch64: missing max/min evaluators"
The following evaluators are missing on AArch64:

- fmax/fmin
- dmax/dmin

[2021-04-03 11:33] knn-k opened #5895 "AArch64: missing compare evaluators"
The following evaluators are missing on AArch64:

- fcmpl/fcmpg
- dcmpl/dcmpg

[2021-04-06 10:06] knn-k commented on #5894
Related issue: #4276

[2021-04-07 21:11] JasonFengJ9 commented on #5881
https://github.com/eclipse/omr/pull/5886#issuecomment-815170074
_"I still think that omrsysinfo_get_addressable_physical_memory() should subtract 2GB from the usableMemory on z/OS"_

@dmitripivkine any comments since GC is the main (and only so far) user of this particular usage.

[2021-04-07 21:20] pshipton commented on #5881
To fill in the details, the first 2GB is not usable since IAVR64 is used to allocate above the bar, so including it in the omrsysinfo_get_addressable_physical_memory() result seems wrong.

[2021-04-07 21:27] dmitripivkine commented on #5881
I agree first 2GB should not be included to result. Is it correct that proposed solution check `RLIMIT_MEMLIMIT` reports available memory above 2GB bar? If so, for case if limit is not set first 2GB should not be included as well.

[2021-04-07 21:30] JasonFengJ9 commented on #5881
From the internal experiment and investigation, the first 2GB is not included in the result for `RLIMIT_MEMLIMIT`.
@joransiu please correct if this is not the case.

[2021-04-07 21:35] JasonFengJ9 commented on #5881
I think this confusion was from an initial thought returning `2GB` + return value of `RLIMIT_MEMLIMIT`, then GC do a minus math which was not actually implemented.

[2021-04-07 21:36] pshipton commented on #5881
I'm saying that when RLIMIT_MEMLIMIT is not set, `usableMemory` memory is returned instead, and this value should have 2GB subtracted.

[2021-04-07 21:37] pshipton commented on #5881
or in the case where `usableMemory - 2GB` is less than the RLIMIT_MEMLIMIT.

[2021-04-07 21:38] pshipton commented on #5881
i.e. the code should be
[code]

[2021-04-07 21:41] JasonFengJ9 commented on #5881
Isn't `sysinfo_get_limit(portLibrary, OMRPORT_RESOURCE_ADDRESS_SPACE, &memoryLimit)` to retrieve the `memory above bar` instead?

[2021-04-07 21:48] pshipton commented on #5881
The limit may not be set, i.e. set to unlimited, or perhaps it can be set larger than the available memory. In which case the API should still return a correct answer.

[2021-04-07 21:59] JasonFengJ9 commented on #5881
`usablePhysicalMemory = omrsysinfo_get_addressable_physical_memory()` which returns minimum of `(sysinfo_get_physical_memory(), sysinfo_get_limit())`.
`sysinfo_get_physical_memory` is retrieved via following code snippet
[code]
This returns `67447922688` in target zOS LPARs.
`sysinfo_get_limit()` is affected by `ulimit -M`, i.e., `memory above bar`, and it is this setting caused the GC heap size c

[2021-04-08 02:26] pshipton commented on #5881
Right, but omrsysinfo_get_addressable_physical_memory() can return the wrong answer when `ulimit -M` is unlimited. Although the ulimit reports memory above the bar, I don't expect `((U_64)rcep->rcepool * J9BYTES_PER_PAGE)` does, so we should subtract 2GB on z/OS so that omrsysinfo_get_addressable_physical_memory() always returns the memory above the bar on z/OS. And add a comment to explain that.

[2021-04-08 02:36] joransiu commented on #5881
From the documentation [1] `RCEPOOL` specifies:

As such, the description suggests it accounts for the number of frames that can be allocated to back virtual pages, and is not limited to above the bar.  I'm not sure if we need to subtract 2GB from this value either, as frames should be allocated only for the pages that are touched.

Note the point about 2GB LFAREA, in which real storage are pre-as

[2021-04-08 03:18] pshipton commented on #5881
It seems we should subtract something, but 2GB would be too much and we don't know how much of RCEPOOL is below the bar.

[2021-04-08 03:31] joransiu commented on #5881
Yeah, what we need to subtract really comes down to how much we allocate and actually touch below the bar.    I guess subtracting 2GB would give us a conservative amount.

[2021-04-08 05:07] pshipton commented on #5881
Seems we can make a better guess if we take these into account.

RCEBELPL - THE SAME AS RCEPOOL EXCEPT THAT ONLY FRAMES BELOW 16M REAL ARE COUNTED.
RCEABVPL - Same as RCEPOOL, but only counts frames from 16M to 2G

[2021-04-08 18:39] joransiu commented on #5881
I'm checking with RSM team to get clarity on this, and whether it makes sense to go with: `RCEPOOL - RCEBELPL - RCEABVPL`.

[2021-04-08 22:05] JasonFengJ9 commented on #5881
That might explain why the value doesn't get affected by malloc or __moservices.

Aha, that makes sense.

Additionally

What's the `frames in the 2G LFAREA`, the memory between the line and bar? Is it excluded from `RCEPOOL`?

[2021-04-08 22:29] joransiu commented on #5881
The LFAREA parameter[1] allows a sys prog to specify how much fixed 1MB and 2GB large pages will be made available on the system.  For 2GB large pages, the equivalent real storage is reserved to back those 2GB frames, which is likely (my guess) why it's excluded from RCEPOOL calculation.

In other words, if we were to allocate a Java heap backed by 2GB fixed (non-pageable) large pages, that memory

[2021-04-10 22:22] 0xdaryl opened #5912 "Move _ialoadUnneeded field to Z CodeGenerator"
The following field is unique to the Z CodeGenerator and is only used by it.  It should be relocated to z/codegen/OMRCodeGenerator.hpp:

https://github.com/eclipse/omr/blob/d7a31696cdb2b56f5107d500fda2fbc9a1e8b69a/compiler/codegen/OMRCodeGenerator.hpp#L271

[2021-04-11 02:20] 0xdaryl opened #5913 "Extensible class visibility and extension modifiers"
One of the challenges with the use of static polymorphism in extensible classes is that C++ class modifiers do not provide the same functionality and protections as if the hierarchy were dynamically polymorphic.

Without such modifiers, it is difficult to define what the allowable extension points are in an extensible class, what members should not be overriden, and what members must be implemente

[2021-04-11 02:33] 0xdaryl opened #5914 "Remove unused IL opcodes"
As part of the preparation work to define an API for the compiler (#5858), some cleanup of the current IL opcode set in OMR is in order.

I propose the following IL opcodes be deleted.  Those on this list were chosen for a number of reasons:
* lack of any known producers of the opcode in any known project that uses OMR
* lack of a suitable backend implementation
* no justifiable use in OMR
* lack

[2021-04-11 02:42] 0xdaryl opened #5915 "Agenda for April 29, 2021 OMR Architecture Meeting"
### Agenda

* Revisit: Clean up centralized opcode enums (#5703) [ @fjeremic ]

[**Replay**](https://youtu.be/of9TE3cPO1s)

### Details
Thursday, Apr. 29, 2021 @ 14:00 EDT (GMT -4), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (access code): 491 674 744
Meeting password: omrrocks!

North America call-in number: 1-844-531-0

[2021-04-11 02:50] 0xdaryl commented on #5858
* Extensible classes
   -  [ ] Extensible class visibility and extension modifiers (#5913)

* IL
    - [ ] Remove unused IL opcodes (#5914)

[2021-04-11 18:44] 0xdaryl opened #5916 "Introduce Python dependency in OMR build"
Part of the work in defining the compiler and JitBuilder APIs (#5858) is to accelerate eliminating dependencies between the language-agnostic OMR compiler and downstream projects.

At the moment, OMR has a number of dependencies with its largest downstream consumer OpenJ9.   Some of the breaking dependencies are resolved by performing "coordinated merges" of PRs in OMR and OpenJ9 by those develope

[2021-04-12 14:06] fjeremic commented on #5916
I think we'll also have to be a bit careful about z/OS. While we do have Python there, some libraries have built in assumption about the native encoding on the platform so not all packages will work correctly out of the box. Typical example of this is anything that processes strings, such as JSON processing, where the author of the library will hardcode things like `if chr > 127:`

[2021-04-14 15:12] joransiu commented on #5881
STGTEST only provides an assembler interface as a SYSEVENT service.  We can however generate inline asm from C to invoke it.  It takes two parameters, R0: coded as SYSEVENT ID 75 and R1: pointing to a 12-byte below-the-bar buffer. SVC clobbers R14 / R15.

Here's some sample code to invoke it:

[code]

Here's the output on my local machine.
Raw is the value returned by service in Hex, Size is in by

[2021-04-14 18:14] rlkenny98 commented on #5912
Hey @0xdaryl, Can I help out with this? Fairly new to open source contributions and I would like to go about it properly this time.

[2021-04-14 19:27] 0xdaryl commented on #5912
Sure! You can start with the project's [Contributor Guidelines](https://github.com/eclipse/omr/blob/master/CONTRIBUTING.md).  If you are not familiar with git/GitHub at all then our [git crash course](https://github.com/eclipse/omr/blob/master/doc/GitCrashCourse.md) may be of use to you too.  Please reach out if you have any questions.  Thanks for your help!

[2021-04-14 19:49] rlkenny98 commented on #5912
Sounds Good!

[2021-04-15 18:58] aviansie-ben commented on #5914
If we're looking at removing `dlog`, I'd also suggest we remove its vectorized version `vdlog` as well. Only Power has an evaluator for it which references a helper that no longer exists (so it wouldn't work anyway).

[2021-04-15 18:58] mstoodle commented on #5916
You may want to outline the steps that will be taken to ensure consumers are made aware of the coming dependency and what kind of time frame or checks will be put in place before it becomes a hard dependency.

[2021-04-16 14:17] dsouzai commented on #1608
@0xdaryl I think this was cleaned up already right? Does it still need to be open?

[2021-04-19 17:22] fjeremic opened #5937 "Deprecate findOrCreateLiteral codegen API"
According to a quick search through the codebase the `findOrCreateLiteral` API seems to be unimplemented, yet there are what seems to be uses of this API in some parts of the Z codegen. Given this API is going to return an incorrect result 100% of the time, it is likely the code using it is dead and should thus be removed.

[2021-04-19 17:36] fjeremic opened #5938 "Create cross-codegen API for determining whether empty VGNOP patch is needed"
Profiled guards seem to be incorrectly marked on Z as stop the world guards when generating a VGNOP instruction. We need to get a concrete answer on whether this is true or not and update our codegen. We can also take this opportunity to make a common API as per the discussion in [1].

[1] https://github.com/eclipse/omr/pull/1595#discussion_r136394379

[2021-04-19 17:49] 0xdaryl commented on #5937
FYI... See #2180.  If you're going to remove it, close off 2180.

[2021-04-19 21:10] fjeremic opened #5939 "Remove J9ZERZ10 once memset implementation has soaked"
In #5430 we switched to using `memset` to clear memory. We've added a fallback to the old implementation using J9ZERZ10 via an environment variable to have an escape hatch if we encounter problems in production or during performance evaluation.

Given the scope of the change is huge I'd say we let this soak for about a year or so in case we encounter problems in the field, etc. If we don't encount

[2021-04-20 20:27] fjeremic commented on #5915
I'd like to propose we circle back on #5703. I've implemented what it on AMD64 and am looking for feedback on whether we should forge ahead for all the other platforms.

[2021-04-20 22:05] VermaSh opened #5948 "Consolidate `generateBinaryEncoding()` for VRR-g, VRR-h and VRR-i"
We can consolidate `generateBinaryEncoding()` for VRR-g, VRR-h and VRR-i into the parent class VRR with little changes. VRR-i implementation[1] is pretty much identical to what is already there in the parent class [4]. VRR-g and VRR-h need special handling because they expect first register operand to be at second register field [1] [2]. I have launched a personal build (build_id=470027) with the

[2021-04-21 01:25] #5423 closed

[2021-04-21 01:29] 0xdaryl opened #5949 "Agenda for May 13, 2021 OMR Architecture Meeting"
### Agenda

* Clean up centralized opcode enums (#5703) [ @fjeremic ]

* Prune vector IL opcodes (#6003) [ @0xdaryl ]

[**Replay**](https://youtu.be/YaRZx9vPo40)

### Details
Thursday, May 13, 2021 @ 14:00 EDT (GMT -4), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (access code): 491 674 744
Meeting password: omrrocks!

Nor

[2021-04-21 17:57] #5064 closed

[2021-04-21 20:56] #5055 closed

[2021-04-21 23:32] 0xdaryl commented on #1608
It looks like we still try and allocate cold code in a few places in the code generators in both OMR and OpenJ9.  I would dearly love to retire this code, but prudence suggests disabling in OpenJ9 (i.e., allocating out of the warm part of the code cache) and then doing some performance runs.  If it turns out that cold code areas are still significant to OpenJ9 (I'm doubtful) then we can investigat

[2021-04-23 05:00] Akira1Saitoh opened #5957 "Semantics of VM_AtomicSupport::writeBarrier"
Currenty, `VM_AtomicSupport::writeBarrier` issues a storeStore barrier on aarch64.
https://github.com/eclipse/omr/blob/22a4853acdef7c7851e9482ba2f0ce1f17aed708/include_core/AtomicSupport.hpp#L246

I suspect that this is incorrect. A storeStore barrier prevents other threads from observing any stores in the programming order after the barrier before any stores in the programming order before the ba

[2021-04-23 17:57] #5182 closed

[2021-04-23 23:04] rlkenny98 commented on #5912
Sorry for the lag, still working on this.

[2021-04-26 12:18] 0xdaryl commented on #4339
@fjeremic @dsouzai : There are a lot of detailed comments in this issue tracking the progress of this work (thanks @harryyu1994!).  However, can one of you please provide a summary of what work remains to be done from its current state?

@nbhuiyan will return to the port library initialization problem soon (he's working on a PR) which will make the port lib accessible within OMR and should depreca

[2021-04-26 13:46] fjeremic commented on #4339
AFAIK the detection has been sunk into OMR and there are two main pieces still remaining to finish:

1. Hookup the OMR port library to the detection

   For example we have the following code: https://github.com/eclipse/omr/blob/3d85fbdf9c73e46c6da5df8989c119164711b368/compiler/env/OMRCompilerEnv.cpp#L77-L79

   Which detects the target CPU using the OMR port library. Unfortunately because the por

[2021-04-26 14:29] a7ehuo commented on #5293
I'll work on this one.

[2021-04-26 18:36] a7ehuo commented on #5293
It looks to me all the following APIs related to `blockIndex` are not really used [1].

@fjeremic  The only places where `getNextAvailableBlockIndex ()` is called are in `z` [2]. They don't look to me necessary. Is there any concern of removing them as part of the cleanup?

[1]
[code]

[2]
https://github.com/eclipse/omr/blob/8b6089f6fcc304f1c975bba9da2ef74c45113eb2/compiler/z/codegen/S390Instructi

[2021-04-26 19:22] #2180 closed

[2021-04-26 19:22] #5937 closed

[2021-04-26 20:45] fjeremic commented on #5293
Please go ahead and remove them. Thanks!

[2021-04-27 14:06] fjeremic opened #5963 "Improve assert message when generating an instruction the processor does not support"
In eclipse/openj9#12538 we ran into an issue which triggered the following assert:

https://github.com/eclipse/omr/blob/746acf8b59ad96823c2ba98ad51bea8568dac600/compiler/z/codegen/OMRInstruction.cpp#L89

Unfortunately due to containerization and AOT we may "downgrade" the processor to for example a z10 even though we are running on a z15. In such cases it would be very useful to know what processo

[2021-04-27 14:38] dchopra001 commented on #5963
I think we can use the following routine to get the name easily:
https://github.com/eclipse/omr/blob/746acf8b59ad96823c2ba98ad51bea8568dac600/compiler/z/env/OMRCPU.cpp#L246-L248

Though this routine depends on us keeping it up-to-date when future processors are released. As part of the PR I can also make the assert fatal if you think we should enforce that this routine be maintained and updated wh

[2021-04-27 15:12] fjeremic commented on #5963
Let's also change that `default` assert to fatal.

[2021-04-27 18:57] 0xdaryl opened #5964 "Introduce check for OS support of SSE/SSE2"
Before generating code that uses SSE or SSE2 instructions, a code generator should check that the target processor supports SSE and that the target operating system can save the SSE state.

The minimum supported processor for the x86 code generator is Pentium 4 which provides SSE2 support.  All known modern operating systems preserve the SSE state, so it is reasonably safe to assume that SSE is su

[2021-04-28 04:17] joransiu commented on #5963
If we make the assert fatal, would that impact migration of existing SDKs that have not been updated onto the new hardware?

[2021-04-28 15:28] fjeremic commented on #5963
If we are running on an unknown processor we should have the value `OMR_PROCESSOR_S390_UNKNOWN`. The default case should never happen IMO unless the user supplied a bogus enum value. In which case you are right, we should instead remove the assert since we don't want to fail in this case.

[2021-04-28 18:35] fjeremic opened #5968 "Deprecate TR_DisableOOL"
I'd like to propose we deprecate the `TR_DisableOOL` and fold away all code guarded by this option. The original option was in place I suspect when the out of line (OOL) codegen sections were first being implemented. The RA logic was probably not flushed out completely at the time so we had fallback paths for places that used OOL sequences.

Unfortunately over time it seems we have introduced quit

[2021-04-29 00:25] 0xdaryl commented on #2403
Gita's presentation: [Vector-IL-Opcodes.pdf](https://github.com/eclipse/omr/files/6395634/Vector-IL-Opcodes.pdf)

[2021-04-29 13:48] #5914 closed

[2021-04-29 14:51] 0xdaryl opened #5972 "What does it mean to be an IL opcode?"
An existential question, but an important one to answer as we review and evaluate the IL opcode set in the compiler and consider adding new ones in the future:  what criteria should we use to define whether some functionality should be implemented as an IL opcode versus some other representation like a function call?

My motivation for asking is driven by a need to better document the IL and by re

[2021-04-29 14:54] 0xdaryl commented on #5972
Tagging a few people if they have any opinions: @gita-omr @vijaysun-omr @mstoodle @jdmpapin @fjeremic @joransiu @ymanton @zl-wang @Leonardo2718

[2021-04-29 15:10] fjeremic commented on #5972
IIRC we talked about this back on another OMR Architecture call where we discussed non-helper symbols and intrinsics. There was some discussion on that call about value to the optimizer, abstraction of a "common" operation, cross platform usage, etc.

[2021-04-29 15:13] vijaysun-omr commented on #5972
There was a paper attempt that we did some years back, that I had shared with @0xdaryl which got into this kind of a question in quite a lot of detail. Maybe that should be attached for reference here to avoid having to rehash that thought process incrementally.

[2021-04-29 15:24] #5293 closed

[2021-04-29 15:46] 0xdaryl commented on #5972
Yeah, I was planning on going back through that discussion at some point too.  I recall that had the perspective of what it means to be an "intrinsic" (or a "non-helper").

[2021-04-29 16:34] 0xdaryl commented on #5972
Thanks to those who sent me materials offline to help define this.  What I'll do is sort through all that and then roll that into the documentation being produced for the IL for future discussion and review.   I will remove the topic from the OAM today, but I will leave this issue open for a bit longer in case there are any opinions anyone wishes to share.

[2021-04-29 18:21] mstoodle commented on #5703
Thanks for your efforts to prototype the proposed direction, @fjeremic. Would you be able to quickly gauge the impact to the size of the JitBuilder library with this change?

[2021-04-30 14:57] #5968 closed

[2021-04-30 17:32] fjeremic commented on #5703
Here is the before and after on macOS:

[code]

This is a 0.7% increase. The same as with OpenJ9 JIT library unsurprisingly. I used the same commit as in #5720 to build and get the size if you want to reproduce.

[2021-04-30 21:22] fjeremic opened #5977 "Fix incorrect handling of spilled registers in OOL code sections"
I’m working towards unifying the register allocator across codegens and I’m stumbling upon what seems to be a bug in the handling of spilled registers. I’ll use Power as an example here. The bug seems to be present in ARM, x86, and RISC-V as well.

In `doRegisterAssignment` we create and set the spilled register list which will hold all the spilled registers in the mainline instruction sequence. T

[2021-04-30 21:27] fjeremic commented on #5977
This is not a made up example. The following tree from OpenJ9 can cause the problem as observed on Z:

[code]

In this example `GPR_0714` is commoned as per the reference count, and it gets used in both the mainline and OOL code sections. The other location that uses `GPR_0714` node `n618n` is another tree which looks identical, and there happens to be other OOL code sections in between, similar t

[2021-04-30 21:29] fjeremic commented on #5977
@0xdaryl @gita-omr @knn-k @janvrany only Z and AARch64 seem to be doing the correct thing here. I'm going to fix this in #5975 which is where I first noticed the problem by removing the following `!self()->isOutOfLineColdPath()` check from `doRegisterAssignment` on Z:

https://github.com/eclipse/omr/blob/ffc8fc4a4a0e1490c4bcf70204ccef3d39ae7ef4/compiler/z/codegen/OMRCodeGenerator.cpp#L1718-L1722

[2021-05-03 17:56] rlkenny98 commented on #5912
Will have this finished this week!

[2021-05-03 18:48] hzongaro opened #5979 "Look into eliminating exception for isTreeTop() nodes in OMR::Node::decReferenceCount()"
The assertion in [OMR::Node::decReferenceCount()](https://github.com/eclipse/omr/blob/79c52c7268b102b2aa1a6640bc892c6de2aa12b4/compiler/il/OMRNode_inlines.hpp#L313-L318) requires that the node whose reference count is being decremented be greater than zero or that `isTreeTop()` returns `true` for the opcode of the node.

From a [Slack conversation](https://eclipse-omr.slack.com/archives/CBSE78L4U/

[2021-05-03 18:54] hzongaro commented on #5979
@dsouzai Irwin, FYI - I think this qualifies as a "housekeeping" issue

[2021-05-05 11:51] #5977 closed

[2021-05-06 01:56] knn-k commented on #5957
The instruction was introduced by #2520 in May 2018.

[2021-05-07 18:14] #2657 closed

[2021-05-09 16:04] rlkenny98 commented on #5912
Opened pull request. Thanks for your patience, enjoy the rest of your weekend!

[2021-05-11 00:47] 0xdaryl opened #5991 "Compiler logs should use consistent addressing formatting"
In any typical compiler trace log there is no consistency in the formatting of addresses.  For instance, addresses are formatted:

* with/without leading zeros
* with/without  a`0x` prefix.  I recall in the past some addresses even had a double prefix (`0x0x`) though I haven't seen one recently.
* upper/lower case
* literally every combination of the above
* on x86, some addresses are prefixed wit

[2021-05-11 14:01] #5963 closed, assigned to nobody

[2021-05-12 14:11] fjeremic commented on #4339
Just stumbled on eclipse/openj9#12670 where it seems we have duplicated code for processor detection in OpenJ9. We need to remove this as part of the migration effort here to avoid developers adding more code into the OpenJ9 versions.

@nbhuiyan wondering if you have a timeline to resume this work?

[2021-05-13 00:29] 0xdaryl opened #6003 "Prune vector IL opcodes"
In preparation for re-architecting the vector IL opcodes to support wider vector lengths and element types, I believe some cleanup is in order to help focus our design choices on only a core set of opcodes we really need.

At present, there are (at least) 109 vector IL opcodes.  The vast majority of which are not used, documented, or tested, and have an incomplete implementation.

Based on my inve

[2021-05-13 00:29] 0xdaryl commented on #6003
@gita-omr : I'd appreciate your input on this please.

[2021-05-13 11:58] 0xdaryl opened #6005 "Agenda for June 10, 2021 OMR Architecture Meeting"
### Agenda

* Consistent address formatting in compiler logs (#5991) [ @0xdaryl ]

* Update on short and medium-term compiler technical debt reduction efforts  [ @fjeremic ]

[**Replay**](https://youtu.be/eaWzfjwKPGk)

### Details
Thursday, June 10, 2021 @ 14:00 EDT (GMT -4), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (a

[2021-05-13 12:46] fjeremic commented on #6003
@r30shah FYI as well.

[2021-05-13 12:47] #5912 closed

[2021-05-13 14:58] gita-omr commented on #6003
@0xdaryl thanks a lot for doing the inventory of the vector opcodes. Are you planning to remove the evaluators for the opcodes in the last table?  I am generally would be hesitant to remove any opcodes/evaluators until we have a good idea about the new model. Also, some of them might be useful for Vector API prototype and experimentation.

[2021-05-13 15:45] 0xdaryl commented on #6003
I think if we agree to remove the opcodes, the evaluators should go with them.  Mainly because there is no point in keeping one without the other.  Implementation is always available in git history if we need to resurrect that code.  The goal here is to simplify the overall picture from where we are now and start building vector IL from a core set of IL opcodes that are truly needed.

[2021-05-13 17:29] mstoodle commented on #5703
Sorry, missed this comment. The size looks pretty large: is that a debug build measurement?

[2021-05-13 18:03] fjeremic commented on #5703
No, it is the same way we build on our farm, i.e. `cmake -C ../cmake/caches/Travis.cmake ..`

[2021-05-13 18:41] mstoodle commented on #5703
Ok, you're right, I'm sorry. I misread the digits. Thanks for following up on that Filip. I can live with 0.7% increase.

[2021-05-13 19:12] IBMJimmyk commented on #6003
`getvelem` looks to be a version of `v[id]getelem` that was extended to work with multiple data types. I think this applies to `vsetelem` and `v[id]setelem`. The final design will need to get rid of one or the other depending on how types will be handled.

Regarding figuring out the type of the vector node. For something like a `vload` it will be on the symref. For something like a `vadd` it is ba

[2021-05-13 19:13] r30shah commented on #6003
Looking into the the list of the suggested opcodes to clean-up, I can think of couple of opcodes that can be used with Vector API experimentation and probably can be used after words as well.

1. `vdsqrt` : We do have SQRT operation being introduced in Vector API that works with  Floats and Double. This opcode can be used for that [1].
2. `vselect` : I think this opcode can be used to achieve BITW

[2021-05-13 20:55] 0xdaryl opened #6008 "Investigate VIXL emulator for CI builds"
Creating an issue so this suggestion doesn't keep falling through the cracks.  Thanks for these suggestions @Leonardo2718.

Investigate incorporating ARM's VIXL emulator in the CI builds to offset the lack of native AArch64 hardware.  See:

https://github.com/armvixl/vixl

https://community.arm.com/developer/ip-products/processors/b/processors-ip-blog/posts/getting-started-with-vixl

https://commu

[2021-05-17 17:18] nbhuiyan commented on #4339
@fjeremic I plan on resuming this work later this week or early next week.

[2021-05-17 20:19] aviansie-ben opened #6015 "What are the semantics of arraycmp with length 0?"
One of the opcodes provided by the OMR compiler is the `arraycmp` opcode, which allows one to effectively perform an inline `memcmp` on two buffers using specialized sequences of instructions. This opcode is currently only generated as a result of optimizations (`LoopReducer` in OMR and `IdiomRecognition` in OpenJ9 will generate it), but it could potentially be used as part of a recognized method

[2021-05-17 20:32] mnalam-p commented on #6015
Kindly also note that, the power return 1,0,2 (less, zero, gt) as compare result which is not on equal to what `memcmp` would do. It is also highly likely that many platform will have optimized instruction to generate -1,0,1 based on compare result.

[2021-05-17 20:37] aviansie-ben commented on #6015
@mnalam-p Agreed that that's a bit weird, though orthogonal to the problem I'm describing here. I think there's some history as to why that happened, but I don't remember the reason. I was actually planning to open an issue about that separately later this week as a potential housekeeping issue, though feel free to open one yourself before that if you're so inclined.

[2021-05-17 23:32] 0xdaryl commented on #6015
@aviansie-ben : what you propose for zero-length arrays sounds reasonable to me.

If there is an IL opcode that could stand a "reboot" then this one might be it, and I support efforts to standardize its semantics and implementation.

[2021-05-18 01:41] mnalam-p commented on #6015
@aviansie-ben agreed that it is out of scope for this discussion. I thought it might be useful for layout the discrepancies  with the arraycmp.

[2021-05-19 14:33] fjeremic commented on #6015
Also agreed @aviansie-ben's proposal is the most sane one, i.e. array comparison of length 0 should yield equality, similarly to what `std::memcmp` would return.

[2021-05-20 14:21] mpirvu opened #6022 "Assert leads to infinite recursion in DEBUG mode"
In `OMR::SymbolReference::getKnownObjectIndex()` https://github.com/eclipse/omr/blob/master/compiler/il/OMRSymbolReference.cpp#L291-L304
we have a `TR_ASSERT` which recursively calls `OMR::SymbolReference::getKnownObjectIndex()` leading to infinite recursion. I think the assert needs to be changed to read:
`TR_ASSERT(_knownObjectIndex == parm->getKnownObjectIndex(), "Parm symbol and symref known-o

[2021-05-20 15:35] dsouzai opened #6023 "Remove TR_ASSERT_FATAL, make TR_ASSERT fatal by default"
To minimize duplication of discussion, see https://github.com/eclipse-openj9/openj9/issues/12742

[2021-05-20 15:39] amicic opened #6024 "RememberSet work unit granularity"
RS in gencon is organized as a list of puddles (arrays). Default size of RS puddle is 16KB, what for 64bit equals to 2K remembered old objects. When the list is processed (either during roots scanning or during pruning) each thread gets one puddle to process.

Roots being scanned first, it is very important to be quickly scanned as they may generate a lot of work for other parallel GC threads. Fro

[2021-05-24 10:08] knn-k commented on #5895
I implemented fcmpl/fcmpg/dcmpl/dcmpg evaluators in #6026.

[2021-05-25 02:46] knn-k commented on #4276
#6027 implements the evaluators for AArch64.

[2021-05-26 02:46] #5894 closed

[2021-05-26 04:42] knn-k opened #6031 "AArch64: fcmpne/dcmpne tests fail"
Tests for fcmpne/dcmpne opcodes fail on AArch64 when either one of the operands is a NaN.

[2021-05-26 23:32] fjeremic commented on #5703
The work is now fully finished in #5720 and eclipse-openj9/openj9#11465.

[2021-05-29 15:40] Leonardo2718 commented on #5991
Somewhat related to this: a debugging feature that I've found useful a few times in the past is the `enumerateAddresses` option. It essentially replaces (many) addresses in log files with names that are stable across multiple runs of the same program. So, in theory, the same object allocated in two different runs will have the same "address name" even if the memory addresses it gets allocated at a

[2021-05-31 14:07] 0xdaryl commented on #946
There is one aspect of x87 that will still be required even after the x87 register assignment is eliminated.

On 32-bit, the easiest way to implement float-to-long and double-to-long conversions is with the `FISTP` family of x87 instruction.  However, because we want to eliminate the x87 register assignment pass entirely we need to create a version of these instructions (and other supporting instr

[2021-06-01 13:01] #5703 closed

[2021-06-01 17:48] 0xdaryl commented on #5991
Yes, that's a good suggestion @Leonardo2718.  I suspect some of the reasons those aren't used as much as they should be are lack of awareness and the fact that it is easier to just dump an address than to first find the debug object and then dispatch a function out of it.  Overhead considerations (time and space) also come into play here, which could make log generation even slower than it is now.

[2021-06-01 20:29] 0xdaryl commented on #6003
`vcall`, `vcalli`, and `vreturn` will be required on architectures that support returns in vector registers.

[2021-06-07 08:40] Akira1Saitoh opened #6049 "OMR::CodeGenerator::isILOpCodeSupported returns true for TR::BadILOp"
It appears that `OMR::CodeGenerator::isILOpCodeSupported` returns true for `TR::BadILOp`.

As BadILOp is 0, `_nodeToInstrEvaluators[BadILOp]` is `TR::TreeEvaluator::BadILOpEvaluator`.
https://github.com/eclipse/omr/blob/01dcdd84177eddca8d5e94f35cb04e2b240e5ada/compiler/codegen/OMRCodeGenerator.cpp#L136

However, `OMR::CodeGenerator::isILOpCodeSupported` compares against `badILOpEvaluator`, which m

[2021-06-08 14:21] fjeremic opened #6050 "Capitalize TLS macros"
As outlined in https://github.com/eclipse/omr/pull/6030#discussion_r646891358 review comment the `tlsFree` and it's sibling macros look like function calls. We should capitalize these macros to abide by the unwritten convention that macros are capitalized, so people don't assume they are function calls.

[2021-06-08 14:21] fjeremic commented on #6050
@dsouzai FYI.

[2021-06-08 16:32] fjeremic opened #6053 "Create OMR_<LANG>_WARNINGS_AS_ERROR_FLAG CMake variables"
As part of a review comment https://github.com/eclipse/omr/pull/6030#discussion_r644249990 when enabling warnings as errors we introduced CMake generator expressions to only apply our current `OMR_WARNING_AS_ERROR_FLAG` to C/C++ compilation units. However as pointed out by @dnakamura this misses adding warnings as errors flag for other compilation units such as MASM, etc.

The task here is to intr

[2021-06-10 13:43] 0xdaryl opened #6059 "Agenda for July 22, 2021 OMR Architecture Meeting"
### Agenda

* GC Parallelism and Adaptive Threading (#5829) [ @RSalman ]

[**Replay**](https://youtu.be/_sOylxFCz-M)

### Details
Thursday, July 22, 2021 @ 14:00 EDT (GMT -4), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (access code): 491 674 744
Meeting password: omrrocks!

North America call-in number: 1-844-531-0958

[

[2021-06-14 17:26] 0xdaryl commented on #1400
It appears this opcode has already been removed from the codebase.  Closing.

[2021-06-14 17:26] #1400 closed

[2021-06-28 04:46] marcowxy commented on #4938
Hello Mark, it has been a year and I don't see much activity on this. Is this still alive?

[2021-06-28 13:20] mstoodle commented on #4938
Hi @marcowxy thanks for the interest. It is still alive though there was a period where I wasn't really able to focus on it very much so progress was very slow. Recently, I've been making more steady progress. I have been trying to resolve some finicky bugs before contributing for review and feedback. I didn't want to waste people's time to review code I know is broken.

One of the reasons it's ta

[2021-06-29 03:07] knn-k opened #6087 "AArch64: Improve code generation for array access"
AArch64 array access code requires extra instruction and extra register allocation.

Example (SIMD array + array):
[code]

This sequence (8 instructions) can be changed to the following 5 instructions.  You don't need to allocate `w0` and `w1` in this sequence:
[code]

[2021-06-29 03:08] knn-k commented on #6087
Related PR: #5887 (constant offset case)

[2021-06-29 03:15] knn-k commented on #6087
An idea to implement this is to introduce abstract load/store opcodes that don't have addressing mode information.
`populateMemoryReference()` will set `baseReg`, `immOffset`, or `idxReg`, then `generateBinaryEncoding()` will choose the appropriate load/store instruction based on the addressing mode.

[2021-07-01 06:26] knn-k opened #6092 "AArch64: Implement arraytranslateEvaluator() and arraycmpEvaluator()"
The following evaluators are missing on AArch64:

- [x] arraytranslateEvaluator()
- [x] arraycmpEvaluator()
- [x] arraysetEvaluator()

[2021-07-02 01:48] knn-k commented on #6087
1. Introduce new load/store opcodes that have type information but addressing mode: `loadb`, `loadh`, `loadw`, `loadx`, `loads`, `loadd`, `loadq`, for example.
2. Replace the load/store opcodes used in load/store evaluators, such as `iloadEvaluator()` by the new opcodes above.  Don't replace the load/store opcodes used in other places.  You can use load/store opcodes with explicit addressing mode

[2021-07-04 15:35] rawrex commented on #5402
Hello! May I clarify. Should this call be simply omitted in the two specified places?

[2021-07-06 01:18] 0xdaryl commented on #5374
Since the common mnemonic work went in on x86 (#6020) the `TR_EntryBreakPoints` feature no longer works.  This is because the `TR::InstOpCode::bad` opcode is now a pseudo opcode on x86 (and isn't emitted) and it no longer has the encoding for an `int3` breakpoint.

This could be corrected rather easily.  However, perhaps now is the time to introduce the real instructions `int3` and `ud2` into OMR

[2021-07-06 13:11] BradleyWood commented on #5374
Sure.

[2021-07-07 10:55] #5374 closed

[2021-07-09 14:00] BradleyWood opened #6102 "Add binary encoding tests on X86"
Currently, there are no binary encoding tests on X86 (work has been done on [power](https://github.com/eclipse/omr/blob/master/fvtest/compilerunittest/p/BinaryEncoder.cpp)). This work should be extended especially with the addition of EVEX encoding and many new instructions for the vector API.

Output from the JIT can be compared with GCC.

[2021-07-12 15:12] mikezhang1234567890 opened #6105 "Deal with low memory scenarios with new OSX core dump utility"
As per https://github.com/eclipse/omr/pull/6014#discussion_r665665471, for the new OSX core dump utility, the memory allocation calls using `calloc` could fail if a dump is requested due to being out of memory. We need to be able to create dumps even in this situation.

fyi: @keithc-ca

[2021-07-12 15:39] #4787 closed

[2021-07-12 15:40] #4611 closed

[2021-07-12 15:41] amicic commented on #4477
Obsoleted by https://github.com/eclipse/omr/issues/5318

[2021-07-12 15:41] #4477 closed

[2021-07-12 15:41] #3514 closed

[2021-07-13 16:39] amicic commented on #6024
Example for a run with TGC logs showing how one thread took long time (36ms) scanning RS (one puddle of size 16KB), causing other threads to idle for 2/3 of cycle duration:

[code]

[2021-07-13 16:44] amicic commented on #6024
running -Xmr4K noticeably improved behavior (not 4 puddles, and 4 threads scanning, one each), although it was still sub-optimal (unbalanced time spend in RS, among these 4 threads):

[code]

[2021-07-14 17:25] BradleyWood opened #6107 "Incorrect VEX Instruction Mnemonic/Encoding on x86"
Whilst investigation #6102 I discovered a number of instructions with incorrect encoding. Many AVX instructions have been incorrectly labeled without the V prefix in their mnemonic. For instance, in the example below, ADDSSRegReg should be the SSE2 non-vex version of addss.

[code]

`VEX_L128, VEX_vReg_` should be replaced with `VEX_L___, VEX_vNONE` and the vex encoded versions should be added wit

[2021-07-14 18:12] BradleyWood commented on #6107
It seems like OpenJ9 will crash on any CPU prior to SandyBridge whilst I believe the minimum target is Pentium 4.

[2021-07-15 17:58] 0xdaryl opened #6110 "Agenda for Aug. 5, 2021 OMR Architecture Meeting"
### Agenda

* JitBuilder 2.0 (#4938) [ @mstoodle ]

[**Replay**](https://youtu.be/B_oEYhYHxco)

### Details
Thursday, August 5, 2021 @ 14:00 EDT (GMT -4), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (access code): 491 674 744
Meeting password: omrrocks!

North America call-in number: 1-844-531-0958

[Other global call-in

[2021-07-15 18:21] #5859 closed

[2021-07-15 18:21] #5915 closed

[2021-07-15 18:21] #5949 closed

[2021-07-15 18:21] #6005 closed

[2021-07-16 05:56] knn-k commented on #5438
I opened PR #6112 for ilbit/llbit evaluators.

[2021-07-16 14:16] keithc-ca commented on #5813
This should be reopened: #6014 was reverted. @fjeremic can you do that, please?

[2021-07-16 16:50] #6053 closed

[2021-07-21 10:48] 0xdaryl opened #6116 "Agenda for Nov 25, 2021 OMR Architecture Meeting"
### Agenda

* Vector IL redesign to support different vector lengths [ @gita-omr ]

[**Replay**]( https://youtu.be/poHiXxuu3Io )

### Details
Thursday, Nov. 25, 2021 @ 14:00 EDT (GMT -4), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (access code): 491 674 744
Meeting password: omrrocks!

North America call-in number: 1-844

[2021-07-24 11:23] 0xdaryl commented on #6059
Presentation slides:

[OMR-Adaptive-Threading-Final.pdf](https://github.com/eclipse/omr/files/6872319/OMR-Adaptive-Threading-Final.pdf)

[2021-07-30 20:07] mstoodle commented on #4938
Brief update: I just opened #6125 containing a working version of JitBuilder2. I have other code that demonstrates the addition of a Complex type and a few new operations, along with a Complex matrix multiplication sample code that can be debugged by the Debugger, but it is not part of this PR. I have also been working on a more programmatic way to add new Type and Operations, but it's not yet rea

[2021-08-05 23:41] 0xdaryl commented on #6110
[JitBuilder2 Update 2021-08-05 Slides](https://github.com/eclipse/omr/files/6942123/JitBuilder2.update.2021-08-05.pdf)

[2021-08-06 12:47] Hello71 opened #6135 "Support DWARF 5"
When compiling openj9-openjdk, I received this error:

[code]

I think this is related to https://gcc.gnu.org/gcc-11/changes.html:

This can be worked around by specifying -gdwarf-4, but it would be better to support the modern DWARF.

[2021-08-10 12:12] keithc-ca commented on #2255
I think we should also include the whitespace checking added in https://github.com/eclipse-openj9/openj9/pull/13252.
I'll have a look a doing both.

[2021-08-10 14:27] keithc-ca opened #6140 "Update azure pipelines"
Looking at the logs for https://github.com/eclipse/omr/pull/6134, I see:
[code]
The azure pipelines will need to be updated to use a version that will be supported after that date.

[2021-08-17 17:42] fjeremic opened #6148 "Deprecate callMustBeInlinedRegardlessOfSize"
According to internal history this function:

https://github.com/eclipse/omr/blob/b173e3151fc1cdc89c0a4f3632a8b66de5a56a49/compiler/optimizer/Inliner.cpp#L4261-L4265

used to be non-empty for WCode. Since WCode was removed from OMR this function always returns false so it no longer needs to exist.

[2021-08-18 18:51] siddharth1704 commented on #6148
so basically we need to remove this function

[2021-08-18 19:58] fjeremic commented on #6148
That's right, and fold away all code which depends on it both in OMR and in known downstream projects. I only know of this being used in OpenJ9 currently in these two locations:

1. https://github.com/eclipse-openj9/openj9/blob/cd8db74f1d43b37e3bdbd1c72f9e120d18047634/runtime/compiler/optimizer/InlinerTempForJ9.cpp#L3580
2. https://github.com/eclipse-openj9/openj9/blob/cd8db74f1d43b37e3bdbd1c72f9e

[2021-08-18 20:03] siddharth1704 commented on #6148
Can you assign me on this issue , this is my first open source contribution so i might need some help

[2021-08-20 06:19] knn-k commented on #6092
x:
- SupportsArrayTranslateTRTO
- SupportsArrayTranslateTROT
- SupportsArrayTranslateTROTNoBreak
- SupportsArrayCmp
- SupportsArraySet

p:
- SupportsArrayTranslateTRTO
- SupportsArrayTranslateTRTO255
- SupportsArrayTranslateTROT
- SupportsArrayTranslateTROTNoBreak
- SupportsArrayCmp
- SupportsArraySet

z:
- SupportsArrayTranslateTRxx
- SupportsArrayCmp
- SupportsArrayCmpSign
- SupportsArraySet

[2021-08-20 18:50] VermaSh commented on #5948
Launched a personal build (Pipeline-Build-Test-Personal/10250) with fixes for previous failures. I'll open a PR once the build passes.

[2021-08-20 19:08] VermaSh opened #6155 "Fix s390 opcode properties"
Some of the opcodes are missing (or have incorrect) properties. The 3 I stumbled across are `CDS`, `CS` and `STAM`.

COMPARE AND SWAP (32) (`CDS`) and COMPARE DOUBLE AND SWAP (32) (`CS`) set operand 1 and 2. But according to the properties they set operand 3 instead of 2 [1] [2].

STORE ACCESS MULTIPLE (`STAM`) doesn't set any of the operands. It stores the access registers, starting with R1 and e

[2021-08-23 15:02] georgkrylov opened #6157 "Citation format for the Eclipse OMR repository"
GitHub repositories now allow providing the "preferred way of citing" software.
It is done by supplying the repository with a .CFF file.

More details are available on GitHub [documentation page](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-citation-files).

Some users of the OMR are members of the research community, so I thin

[2021-08-23 18:14] VermaSh commented on #5948
zLinux builds passed without any issues. zOS build failed due to unreated changes. I'll relaunch the zOS builds once a fix those failures is checked in.

[2021-08-24 07:58] GFIGroup commented on #6155
Hello, we are a group of researchers developing machine learning techniques to locate issues suitable for newcomers, and our model consider this issue as likely a "good first issue". May we recommend you to label it as "good first issue" so newcomers know where to choose?

Thank you!

[2021-08-24 17:45] fjeremic commented on #3814
This is addressed by #5170.

[2021-08-24 17:45] #3814 closed

[2021-08-26 18:16] hzongaro opened #6163 "Refine aliasing of <objectEqualityComparison> and <nonNullableArrayNullStoreCheck> non-helper symbols"
The aliasing that's currently defined for the `<objectEqualityComparison>` non-helper symbol in [`OMR::SymbolReference::getUseonlyAliasesBV`](https://github.com/eclipse/omr/blob/059bd52fa235e2b815d0e49f1a95689e7255b462/compiler/il/Aliases.cpp#L141-L144) and [`OMR::SymbolReference::getUseDefAliasesBV`](https://github.com/eclipse/omr/blob/059bd52fa235e2b815d0e49f1a95689e7255b462/compiler/il/Aliases.

[2021-08-30 16:06] VermaSh commented on #5948
Launched personal build (id=277) to test changes on zOS.

[2021-08-31 18:19] a7ehuo commented on #6163
`defaultMethodDefAliases` contains bit vectors:
https://github.com/eclipse/omr/blob/e7108e99839e6873de70b1377650862619e578f0/compiler/compile/OMRAliasBuilder.cpp#L137-L146

`defaultMethodUseAliases` contains bit vector `defaultMethodDefAliases` and the others:
https://github.com/eclipse/omr/blob/e7108e99839e6873de70b1377650862619e578f0/compiler/compile/OMRAliasBuilder.cpp#L156-L164

Based on the t

[2021-09-02 16:33] #2255 closed

[2021-09-10 18:25] VermaSh commented on #5948
Personal builds for both zOS and zLinux passed without any failures. The PR is ready for review.

[2021-09-13 23:13] #5948 closed

[2021-09-30 21:16] a7ehuo opened #6189 "Crash when specifying log name in both -Xjit and -Xaot"
When trying to collect trace log using the following options to both `-Xjit` and `-Xaot` [1], I ran into a crash in `TR_Debug::findLogFile`. The `prev->_options->_logFileName` is invalid [2].  I found that what happened is when `jitLatePostProcess` calls _`debug->findLogFile`, it doesn't differentiate whether or not it is for AOT or JIT [3]. It calls both both when it's only parsing for AOT option

[2021-09-30 21:19] a7ehuo commented on #6189
@dsouzai @mpirvu Could you review the proposed fix for this issue? Or any suggestion? Thank you!

[2021-10-04 02:57] mpirvu commented on #6189
I believe that the idea behind the original code was that, if two different option sets specify the same log name, we want to share the same log file (this needs to be opened only once). This is why we use
`TR::FILE *TR_Debug::findLogFile(TR::Options *aotCmdLineOptions, TR::Options *jitCmdLineOptions, TR::OptionSet *optSet, char *logFileName)`
to search all option sets from both JIT and AOT comman

[2021-10-04 20:13] RSalman opened #6192 "Verbose GC Report Class Segment Reclaims Ops (flushUndeadSegments/FixHeapForUnload)"
We have trace points to report class segment reclaim operations, however these should be reported in verbose logs as either `gc-op` or as an extension to the existing class unloading stanzas. These operations can be significant, it would be useful to have on hand when analyzing verbose logs.

[code]

[2021-10-04 20:13] RSalman commented on #6192
@amicic @dmitripivkine fyi

[2021-10-04 20:16] amicic commented on #6192
this is Java specific logic - the issue should go to OpenJ9

[2021-10-04 20:27] RSalman commented on #6192
Ah yes! Closing this and moving it over to J9

[2021-10-04 20:27] #6192 closed

[2021-10-04 22:18] a7ehuo commented on #6189
I specified the log name to be the same as `log=log` for both JIT and AOT with the existing OMR code. The same crash also happens. The sequence of events are as below [1]. When it tries to access to the previous Options in `TR_Debug::findLogFile`, `OptionSet::setOptions` hasn't called on the JIT `OptionSet` yet. It is not NULL and it is still a type of `char* _optionString` instead of `TR::Options

[2021-10-05 03:24] a7ehuo commented on #6189
@mpirvu, if I understand [the suggestio](https://github.com/eclipse/omr/issues/6189#issuecomment-933102631)n correctly,  we could remove the union declaration on `OptionSet. _options` and `OptionSet._optionString`, and   `_options` should be initialized as `NULL` in `OptionSet::init`.

Currently there is no check on if it’s `NULL` when `OptionSet::getOptions()` is called. After initializing it as

[2021-10-05 12:26] mpirvu commented on #6189
ok, I understand better now, that `_options` field plays a double role and we cannot initialize to 0. Thus, when we process options sets we cannot tell whether an option set has allocated its options object.

Going back to the proposed solution, I think we have the same problem if there are two option sets under AOT of JIT. For instance: -Xaot:{method1}(traceFull,log=log1),{method2}(traceFull,log=

[2021-10-05 16:02] a7ehuo commented on #6189
I specified two log names (`log=log1`, `log=log2`) under the same AOT env option [1] . It doesn't have any issue. It also works fine if I specify two log names under JIT option.

When specifying two log names under AOT, the sequence of events [2] shows before the first time `TR_Debug::findLogFile` is called, `OptionSet::setOptions` has been called to set up `OptionSet._options` properly for  `aotC

[2021-10-07 10:47] #6189 closed

[2021-10-07 17:19] hzongaro opened #6199 "Clean up handling of conditional access to fields by Field Privatizer"
[OpenJ9 issue #13524](https://github.com/eclipse-openj9/openj9/issues/13524) identified a bug in Field Privatizer with conditional access to fields in a loop.  OMR pull request #6187 papers over the problem by attempting to avoid those situations, but as described in [this comment](https://github.com/eclipse/omr/pull/6187#issuecomment-929328994) by @jdmpapin, a more robust, accurate and future pro

[2021-10-14 17:47] zl-wang opened #6206 "Need a fix for sched_getaffinity code"
Running OpenJ9 on the biggest POWER10 machine on RHEL (with 1920 vCPUs) occasionally (unpredictably) could get into a state where GC asserted because portLib code of `sched_getaffinity`  returned a zero count of CPUs (in this file:  omr/port/unix/omrsysinfo.c).  That code looks like it should work ... but a kernel folk reminded me that there might be two possible exceptional situations:
1) the CPU

[2021-10-18 16:54] zl-wang commented on #6206
is the assert message different from the previous one?  this time, it is in initializeMarkMap (re-initialization really?).
on this machine, the max CPU id is 1919, no numbering gap.  the other places you identified might need to be fixed.

[2021-10-18 19:18] dmitripivkine commented on #6206
It might be a case but we got errno = 22 (ENIVAL) from `sched_getaffinity()` call. There is seems nothing in Linux manual for this call/error might be interpreted as related with wrong provisioning done earlier

[2021-10-18 20:34] dmitripivkine commented on #6206
It might be not `ENIVAL`, might be just error 22. For example this is tracepoint:
[code]

[2021-10-18 20:40] zl-wang commented on #6206
no.  grep -i errno *
[code]

grep -i assert *
[code]

[2021-10-19 14:38] a7ehuo opened #6211 "Update classNameToSignature to process 'Q' type descriptor"
`classNameToSignature` in [Aliases.cpp](https://github.com/eclipse/omr/blob/0d64043d74024e337119adc637cd27f767171794/compiler/il/Aliases.cpp#L1053) checks the `L` reference. The same change needs to be applied to `Q` type descriptor. However, the existing API `classNameToSignature` does not have a `TR_OpaqueClassBlock *` pointer for us to call `ClassEnv::isValueTypeClass` to distinguish if the cla

[2021-10-21 19:33] Hello71 opened #6213 "-DOMR_WARNINGS_AS_ERRORS=OFF ignored for jitbuilder"
see https://github.com/ibmruntimes/openj9-openjdk-jdk/issues/354#issuecomment-948063904 and https://github.com/eclipse/omr/blob/285f5f5d7801c4f84b8396a371b6db226ff76957/jitbuilder/CMakeLists.txt#L110

@fjeremic

[2021-10-25 13:20] 0xdaryl opened #6217 "Move classNameToSignature to ClassEnv"
The function: https://github.com/eclipse/omr/blob/a6235250bccff945ca2270d0d76f0efe6e203d04/compiler/il/Aliases.cpp#L1048
is highly project-specific and its current implementation follows Java semantics.

It should be moved into the ClassEnv hierarchy and the existing implementation sunk into the OpenJ9 project.  The default OMR implementation could simply return a char string with the given class

[2021-10-31 23:18] #6217 closed

[2021-11-02 19:28] dmitripivkine commented on #6206
After long hunt we figure out what cause the problem. While `sysconf(_SC_NPROCESSORS_CONF)` normally returns correct number of provisioned CPUs 1920 but sometimes (once in a few hours) returns value of two. CPU set reserved for two CPUs is not large enough so it failed obviously.
This is incorrect Linux behaviour, according https://man7.org/linux/man-pages/man3/sysconf.3.html
[code]
Also I tested

[2021-11-02 20:36] zl-wang commented on #6206
the strange thing here is:  without -Xaggressive option, this never happened so far.  on the other hand, i don't see the relation between -Xaggressive option and getting cpu number.

[2021-11-02 21:03] zl-wang commented on #6206
ah ... it is nice:  finally, i got a run without -Xaggressive exhibiting that assertion.
at the same time, this morning i started a conversation with kernel folks.  they are asking for a strace run.  i haven't gotten the right option to reduce the strace output.

[2021-11-05 08:00] Akira1Saitoh commented on #6087
I have found that the reference count of `aladd`  node is not decremented in constant offset case:
[code]

[2021-11-05 09:22] knn-k commented on #6087
I recreated the case with `aladd` above locally.

[2021-11-05 15:22] zl-wang commented on #6206
unfortunately, strace run was not successful in the sense that Back-End JVMs are shutdown by the controller prematurely (due to high strace overhead leading to 0 high-bound throughput).

[2021-11-05 15:34] zl-wang commented on #6206
Kernel folks suggested writing a LD_PRELOAD library to replace `get_nprocs_conf` with a wrapper calling the original `get_nprocs_conf`.  If that returns not 1920 (vCPUs), running a debugged version of looping through CPU entries under `/sys/devices/system/cpu`.

I did that.  Although i can see the error output in the new runs, it looks like this now:
`21-11-04_195113/Group16.Backend.beJVM.log:-- M

[2021-11-05 15:42] zl-wang commented on #6206
Kernel folks indicated it might be due to JVM using too old glibc version (2.17). It might have bugs related to this **over-sized** machine.  But not 100% sure of course. Only an intuitive speculation.  Posted a question to glibc team lead to see if we can gain some insights from him.

[2021-11-08 00:34] knn-k commented on #6087
I opened #6232 for the `aladd` case above.

[2021-11-09 20:30] zl-wang commented on #6206
I think we still have some house-keeping works to do.  @dmitripivkine
    fixing other places of error due to the big count of CPUs (e.g.  NUMA is disabled currently).

[2021-11-10 07:10] Akira1Saitoh commented on #4227
The shift amount is decided based on the size of LDR/STR instruction. If 32bit load/store, the shift mount is 2. If 64bit, the shift amount is 3. We need to know the size in order to verify that the specified shift amount is correct.
I guess we need to implement that in this issue. https://github.com/eclipse/omr/issues/6087

[2021-11-15 13:39] keithc-ca commented on #5813
As @knn-k noted (https://github.com/eclipse-openj9/openj9/issues/11164#issuecomment-968687415), the solution needs to be extended for AArch64.

[2021-11-17 20:33] keithc-ca commented on #6135
On which Linux distribution did you encounter this? `gcc-11` is not immediately available in Ubuntu 20.04 and the version of `libdwarf.so` on Ubuntu 18.04 doesn't support DWARF 5 (at least not well).

[2021-11-17 21:50] Hello71 commented on #6135
I used gcc 11.2.0 and libdwarf 20210305 on Gentoo Linux for this compilation.

[2021-11-18 23:10] singh264 opened #6248 "Date inconsistency in the omr repository commits"
https://support.github.com/ticket/personal/0/1400481

[2021-11-19 18:27] 0xdaryl commented on #6248
That linked ticket is not accessible (to me at least).  Can you describe the problem so contributors know what to look out for?

[2021-11-22 16:20] singh264 commented on #6248
I think the Date property of the items in the output of the git log command that is run on a cloned omr repository is inconsistent with the commits on Nov 15, 2021 in the omr repository.

I think the Date property of the items in the output of the git log command that is run on a cloned omr repository are:
Date: Tue Nov 16 01:55:59 2021 +0000
Date: Mon Nov 15 19:47:01 2021 -0500
Date: Wed Oct 27 1

[2021-11-24 12:26] 0xdaryl opened #6253 "Agenda for Feb 3, 2022 OMR Architecture Meeting"
### Agenda

* OMR 2021 retrospective and 2022 plans [ @0xdaryl ]

[**Replay**](https://youtu.be/P8yQ9i-qP0s)

### Details
Thursday, Feb. 3, 2022 @ 14:00 EDT (GMT -4), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (access code): 491 674 744
Meeting password: omrrocks!

North America call-in number: 1-844-531-0958

[Other glo

[2021-11-25 17:54] 0xdaryl commented on #6116
[OMR_Vector_IL_Nov25_2021.pdf](https://github.com/eclipse/omr/files/7604708/OMR_Vector_IL_Nov25_2021.pdf)

[2021-11-25 18:42] 0xdaryl commented on #6116
[OMR_Vector_IL_Nov25_2021.pdf](https://github.com/eclipse/omr/files/7604855/OMR_Vector_IL_Nov25_2021.pdf)

[2021-11-29 18:36] RSalman opened #6258 "OMR_VMThread Flags for GC barrier Awareness"
Downstream code (OpenJ9) has thread flags to indicate Concurrent State / barrier awareness, e.g,
`J9_PRIVATE_FLAGS_CONCURRENT_MARK_ACTIVE`. These should be implemented for OMR_VMThread.

There have been some attempts for generational barrier, but the work does not seem to be completed:

[code]

[2021-11-29 18:38] RSalman commented on #6258
cc @dmitripivkine cc @amicic

[2021-11-29 18:39] RSalman commented on #6258
I believe this can be tagged `good first issue` (@0xdaryl )

[2021-12-01 20:40] EricYangIBM commented on #3506
I am running into an issue with `task_threads`: https://github.com/eclipse/omr/blob/master/port/osx/omrintrospect.c#L142
When I print out the `data->threadList` returned by it the first thread (`mach_port_t`) is always 775 and the corresponding pthread does not exist in the avl tree created in javadump.cpp::writeThreadsWithNativeStacks. Also it is not the current thread/failing thread, which it is

[2021-12-03 14:43] babsingh commented on #3506
https://developer.apple.com/documentation/kernel/1537751-task_threads
[code]
Currently, in our code, `data->threadList` is of type `thread_act_port_array_t`. As per the above doc, it should be of type `thread_act_array_t`. Also, confirm if other input parameters to `task_threads` are valid.

Also, we need to suspend the entire task before suspending individual threads in order prevent the task fro

[2021-12-03 17:34] EricYangIBM commented on #3506
`task_suspend` stops the current thread from executing and hangs the process

[2021-12-03 18:59] EricYangIBM commented on #3506
Update: got javacore to output not only anonymous native threads and also got the correct current thread
[javacore.txt](https://github.com/eclipse/omr/files/7651786/javacore.txt)
Trying to figure out why all native stacks are the same.

[2021-12-06 17:33] EricYangIBM commented on #3506
The reason why all native stacks look the same is because `backtrace` is called by the current thread every time. I'm trying to get the `backtrace` call inside the `upcallHandler` like in the unix case but `siginfo->si_value.sival_ptr` is null (which is needed to get the `PlatformWalkData` to pass to `introspect_backtrace_thread`). Looking into setting a global variable to get this data

[2021-12-06 17:48] babsingh commented on #3506
You're correct. `backtrace` will give the native stack of the thread which invokes it. To get the correct native stack for each thread, `backtrace` needs to be invoked from each individual thread.

Currently, `osx/omrintrospect.c` has `getThreadContext` -> Sends `SUSPEND_SIG == SIGUSR1` to a thread -> Invokes `upcallHandler` -> Stores context which is read in `setupNativeThread`. Does `signalHandl

[2021-12-06 17:57] babsingh commented on #3506
re https://github.com/eclipse/omr/issues/3506#issuecomment-984036440:

https://github.com/eclipse/omr/issues/16 reports a race condition related to `suspendAllPreemptive() -> task_threads()`:

-- If this function encounters an error, then the runtime is stuck in a permanently bad state, correct?

Since we have already started to notice issues related to the above code, we can also monitor the occu

[2021-12-08 17:19] EricYangIBM commented on #3506
Backtrace is working now for all threads:
[threads_section.txt](https://github.com/eclipse/omr/files/7677451/threads_section.txt)
A linux javacore's current thread section has the crashing symbol `Java_jdk_internal_misc_ScopedMemoryAccess_closeScope0+0x18` but osx doesn't. I think it is the address below `_sigtramp+0x1d` (`(0x0000000010989900 [<unknown>+0x0])`) Also linux crashes produce a stack b

[2021-12-08 17:54] BradleyWood opened #6268 "AVX-512 Support for Vector API"
This issue will track the AVX-512 implementation work for the vector API. AVX-512 is needed to support 512-bit vector lengths on x86 architecture.

## Status & Todo

 - #6086
   - &check; Extended register file to include xmm/ymm/zmm 0 - 31,
   - &check; EVEX instruction encoding,
   - &check; Mask register support (TR_VMR)
     - Register Assignment
     - Mask tracing aware of new registers
   -

[2021-12-08 17:55] BradleyWood commented on #6268
FYI @gita-omr, @0xdaryl

[2021-12-08 19:21] EricYangIBM commented on #3506
The `backtrace` library call itself is not producing all of the stack frames; many of the earlier frames were not generated. I debugged the core files using lldb and found 17 frames at the bottom of the stack that were not found in the backtrace output. The faulting address was also found in the core but not in backtrace output. The only reason I could find for this is the signal handler modifying

[2021-12-09 15:44] #6213 closed

[2021-12-09 16:21] EricYangIBM commented on #3506
If it's true that macos modifies the stack upon signal handler call and return, then I don't see a way to get the correct faulting address to discard the signal handler frames. I tried to look for the signal handler address (as in `_sigtramp`'s address) but I'm not sure how to find it.

[2021-12-09 17:33] babsingh commented on #3506
@EricYangIBM, you have made excellent progress.

re https://stackoverflow.com/questions/52693431/backtrace-info-different-on-macos-v-s-linux:

We can explore the `libunwind` API. Unlike `backtrace`, it is thread-safe and signal-safe. It may give us more flexibility. @EricYangIBM Can you verify the following points?
- Can it be incorporated in our existing OMR API i.e. replace `backtrace*` system c

[2021-12-09 17:39] EricYangIBM commented on #3506
That code gets the correct address but it does not show up in `backtrace` probably because of the signal handler modifying stack frames, therefore it never matches `addresses[i] == *faultingAddress`.
The javacore and terminal output show the correct faulting address:
[code]
so it is a problem with signal handling and backtrace.

[2021-12-09 18:33] EricYangIBM commented on #3506
The problem with using `libunwind` is that it will still be called during signal handling for the current/failing thread - which is the only one we are discarding signal handler frames from given a faulting address. If the omrintrospect functions are called after the sigsegv handler then it doesn't matter what we use to get the stack frames since the signal handling modifies the stack on entry and

[2021-12-09 20:23] babsingh commented on #3506
`libunwind` may account for the stack changes that are done during signal handling. Can we write a small micro-test to verify that `libunwind` will behave similar to `backtrace` when called during signal handling for the current/failing thread?

[2021-12-09 20:49] babsingh commented on #3506
Also, on Linux, we set the context of the current thread differently:
https://github.com/eclipse/omr/blob/5a958d70833bf7e3c5c71b11cf905ca14498686e/port/unix/omrintrospect.c#L1429-L1438
[getcontext](https://developer.apple.com/library/archive/documentation/System/Conceptual/ManPages_iPhoneOS/man3/getcontext.3.html) is also available on OSX. Will it help to get the correct backtrace for the current/

[2021-12-10 02:11] singh264 commented on #6248
How could the commit date and the author date in the [patch url](https://github.com/eclipse/omr/commit/f76321aa3ba1e85e71bd57c8c22b5d6cf427b4f5.patch) of the commit be identified in the [merged pull request](https://github.com/eclipse/omr/pull/6237/commits)?

[2021-12-10 16:20] EricYangIBM commented on #3506
I have produced the correct native stack trace for the stdout output with libunwind:
[code]
I tried to use libunwind to get the backtrace for all threads but I could not capture the entire stack for the non failing threads (they stop at the signal handler `_sigtramp`):
[libunwind_all.txt](https://github.com/eclipse/omr/files/7694025/libunwind_all.txt)
Using libunwind only for the failing thread I

[2021-12-10 16:31] EricYangIBM commented on #3506
Question, why does the unix and osx implementations call `introspect_backtrace_threads` if it fails in the upcall handler? https://github.com/eclipse/omr/blob/master/port/unix/omrintrospect.c#L1445
`introspect_backtrace_threads` is called inside the upcall handler by the thread we want to backtrace. If it fails, why are we calling `introspect_backtrace_threads` from the controller/filter thread? T

[2021-12-10 20:41] babsingh commented on #3506
re https://github.com/eclipse/omr/issues/3506#issuecomment-991107820:

Let's create a PR with the proposed changes.

The preference will be to use an API consistently throughout the implementation: either `backtrace` or `libunwind`. `libunwind` has an upper hand since it is signal-safe and thread-safe. We can try to troubleshoot via experiments to get `libunwind` to work correctly for non failing

[2021-12-10 20:43] EricYangIBM commented on #3506
PR here: https://github.com/eclipse/omr/pull/6267

[2021-12-10 20:53] babsingh commented on #3506
re https://github.com/eclipse/omr/issues/3506#issuecomment-991116297:

### Unix
https://github.com/eclipse/omr/blob/5a958d70833bf7e3c5c71b11cf905ca14498686e/port/unix/omrintrospect.c#L1572-L1579

Referring to the above code, there are two instances where `SUSPEND_SIG` is masked in the Unix implementation. In both instances, the thread which iterates over the native threads won't receive the SUSPEN

[2021-12-10 21:05] EricYangIBM commented on #3506
We don't send the signal to the iterator thread because we pass `signal_info` to `setupNativeThread` and skips `getThreadContext`: https://github.com/eclipse/omr/blob/5a958d70833bf7e3c5c71b11cf905ca14498686e/port/osx/omrintrospect.c#L239. So it is the same as unix, for now I have put
[code]
as a condition for the `instrospect_backtrace_thread` in setupNativeThread.

[2021-12-10 21:09] babsingh commented on #3506
Is it always guaranteed that `signal_info` will be non-null + valid?

[2021-12-10 21:14] babsingh commented on #3506
https://github.com/eclipse-openj9/openj9/blob/ff268e520c907fdac24821b116866b5bd1770c84/runtime/rasdump/javadump.cpp#L2301-L2308

[code]
In case of `protectedStartDo` -> `omrintrospect_threads_startDo`, `signal_info` will be `NULL`.

[2021-12-10 21:25] EricYangIBM commented on #3506
Ok, I think we should add an extra condition
[code]
and `getcontext` like in unix.

[2021-12-10 21:29] EricYangIBM commented on #3506
Also, I think there may be another bug in the unix implementation: https://github.com/eclipse/omr/blob/master/port/unix/omrintrospect.c#L1436-L1438
This will never be executed since `if (heapAllocate || sigContext) {` will always be false for other threads (since `nextDo` calls `result = setup_native_thread(state, NULL, 0);`; only `startDo` calls it with nonnull second and third args for the itera

[2021-12-10 21:33] babsingh commented on #3506
For test coverage, we want cover both the code paths mentioned in https://github.com/eclipse/omr/issues/3506#issuecomment-991297995: `protectedStartDo` and `protectedStartDoWithSignal`.

I think
- `protectedStartDo` can be exercised via `-Xdump:java:events=vmstart+vmstop`; and
- `protectedStartDoWithSignal` can be exercised by sending a signal such as `SIGABRT` or `SIGSEGV`, which will generate a

[2021-12-10 22:20] babsingh commented on #3506
re https://github.com/eclipse/omr/issues/3506#issuecomment-991307585:

Our limited usage of `setup_native_thread` stops the below code from ever executing:
https://github.com/eclipse/omr/blob/5a958d70833bf7e3c5c71b11cf905ca14498686e/port/unix/omrintrospect.c#L1436-L1438

But, `setup_native_thread` is a standalone function, which can also be invoked as `setup_native_thread(state, NULL, 1)`. If invo

[2021-12-13 21:01] EricYangIBM commented on #3506
Currently with `unw_init_local` only the signal handler frames are returned. I tried using `unw_init_remote_thread` to get the stack for a different thread but it seems like remote backtracing is not implemented on osx:
[code]
Also, see https://reviews.llvm.org/D57252
Given that we can't unwind a different thread's stack, we must call the introspect_backtrace functions from a signal handler so I'm

[2021-12-13 21:20] BradleyWood opened #6273 "Remove MMX Support"
MMX has long been deprecated on the x86 code gen in favour of SSE. Need to take into account register assignment, debugging/traces, linkage. This issue will track the work to remove it.

[2021-12-14 13:41] babsingh commented on #3506
Invoking `introspect_backtrace_thread` from the signal handler looks equivalent to invoking `unw_getcontext` from the signal handler. **How will it be different to invoke `unw_getcontext` directly from the signal handler?**

In our code, `upcallHandler` matches the `handler` in the [sigaction](https://developer.apple.com/library/archive/documentation/System/Conceptual/ManPages_iPhoneOS/man2/sigact

[2021-12-14 14:01] EricYangIBM commented on #3506
I forgot to mention that `getcontext` is deprecated on osx so I think the only way to get context of a thread is from the signal handler.

[2021-12-14 17:49] EricYangIBM commented on #3506
I have tried calling `unw_getcontext` directly from the signal handler and pass it to introspect_backtrace but it only captured the signal handler frame. I have also tried using the sigaction ucontext parameter for `unw_init_local` but it didn't work (0 frames to walk).

[2021-12-15 14:44] babsingh commented on #3506
For the observation in https://github.com/eclipse/omr/issues/3506#issuecomment-991107820: I found that `libunwind` does not support signal trampoline on OSX i.e. the API stops iterating through native stacks once `_sigtramp` is encountered.

**Potential fix:** In `libunwind`, we iterate via `unw_step(&cursor)`. Once `_sigtramp` is encountered while iterating, we can manually update the `cursor` to

[2021-12-16 04:29] #6087 closed

[2021-12-16 04:40] knn-k commented on #6087
This has been implemented by #6274.
Thank you, @Akira1Saitoh !

[2021-12-16 19:23] EricYangIBM commented on #3506
Latest commit in my PR successfully iterates frames beyond `_sigtramp`. Other than some cleanup, I believe this is everything for the implementation.
[javacore.txt](https://github.com/eclipse/omr/files/7729902/javacore.txt)

[2021-12-21 08:51] knn-k commented on #4227
#6274 implemented this.  Closing.

[2021-12-21 08:51] #4227 closed

[2021-12-29 00:23] singh264 commented on #6248
I think the commit date appears after the commit SHA in the patch url of the commit and the author date appears after the Date property in the patch url of the commit.

[2021-12-29 01:23] singh264 commented on #6248
@0xdaryl What are the details of the commits on Nov 15, 2021 in the output of the git log command that is run on a cloned omr repository?

I think the details of the commits on Nov 15, 2021 in the output of the git log command that is run on a cloned omr repository are:

f76321a https://ibm.box.com/s/chsymkoj07jlmcyg9lufaivgu6wsa95r

2240038 https://ibm.box.com/s/cz15hvs499d2njdk44zya6xndkpnfptl

[2022-01-06 02:56] #5173 closed

[2022-01-11 16:28] mstoodle opened #6291 "zos builds still using git://github.com which now fails"
Recent PR builds are failing on the zos platform because git://github.com is no longer accepted.

E.g. from https://ci.eclipse.org/omr/job/PullRequest-zos_390-64/3329/console
[code]

The usual fix for this sort of thing is to use https://github.com instead.

[2022-01-11 16:34] keithc-ca commented on #6291
The URL should be `git@github.com:eclipse/omr.git` instead of `git://github.com/eclipse/omr.git`.
I don't think https will work (on z/OS).

[2022-01-11 16:46] keithc-ca commented on #6291
I wasn't aware that `git:` was ever a supported URL scheme, but according to https://git-scm.com/docs/git-clone, it

[2022-01-12 07:45] knn-k commented on #5438
Sample population count code in ARM64 instructions:
[code]

[2022-01-13 13:31] knn-k opened #6296 "x86-64 macOS build failure on Azure Pipelines"
macOS builds on Azure Pipelines fail with this error message:

It seems 10.15 Catalina and 11 Big Sur are the only macOS images available.

See https://dev.azure.com/eclipse-omr/omr/_build/results?buildId=4747&view=results and https://dev.azure.com/eclipse-omr/omr/_build/results?buildId=4746&view=results

[2022-01-13 15:36] mstoodle opened #6299 "Does porttest really run?"
I found myself digging through the full console output for a test run on linux x86 and discovered:
[code]

That doesn't seem right to me, but maybe I'm missing something.

[2022-01-13 15:47] davidjmccann opened #6300 "PortDumpTest fails if kernel.core_pattern forces the core to be redirected"
Running omrporttest if kernel.core_pattern=core.%p (for example), PortDumpTest passes.

If it's something like "|/usr/share/apport/apport %p %s %c %d %P %E" then the core doesn't necessarily get created in the current working directory, and the test fails.

This then raises the point that for this code to work, the user must disable core dump redirection, which is going to be a privileged operatio

[2022-01-13 17:53] midronij opened #6302 "Fix vload/vstore for Short and Byte Vectors on P8 and lower"
Currently, vload for Short and Byte vectors uses the same instruction as IntVectors (i.e.: `lxvw4x`, which loads the vector's contents from memory in word-sized chunks). As a result, the order of elements is not presevered from memory to the target register. For example, the following ByteVector:

`{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}`

will be loaded into a vector register as:

[2022-01-13 17:54] midronij commented on #6302
A PR for the P9 and above case has been submitted here: https://github.com/eclipse/omr/pull/6271

[2022-01-14 00:36] #6296 closed

[2022-01-14 04:49] knn-k opened #6305 "Linux x86-64 and zos_390-64 CI builds fail"
The following CI builds fail with `git fetch`.

- linux_x86-64: https://ci.eclipse.org/omr/job/PullRequest-linux_x86-64/3100/
[code]
It started to fail from job 3095 yesterday in https://ci.eclipse.org/omr/job/PullRequest-linux_x86-64/ .

- zos_390-64: https://ci.eclipse.org/omr/job/PullRequest-zos_390-64/3359/
[code]
Possibly related to #6291?

[2022-01-14 13:35] AdamBrousseau commented on #6305
Fixed. Apologies, I was adjusting the xlinux job in order to help diagnose and test the zos problem.

[2022-01-14 17:53] singh264 commented on #6248
@0xdaryl @ymanton

[2022-01-14 17:54] singh264 commented on #6248
@ymanton

[2022-01-14 18:11] ymanton commented on #6248
I think you are being confused by two things here: time zones and commit v.s. author dates.

GitHub shows you commit dates, while `git log`, `git show`, etc show you author dates by default. That's why GitHub is showing you that c91ca47 was committed on Nov 15 while git shows you that the patch was authored on Oct 27:

[code]

If you want to see the complete output from git try `git show --format=

[2022-01-15 20:48] janvrany commented on #6135
I just bumped into this problem while (native) building on RISC-V (gcc 11.2.0).
Has been there any progress on this? Shall I just hack build scripts to pass `-gdwarf-4`?

[2022-01-17 14:18] keithc-ca commented on #6135
I looked at it briefly, but didn't have time to even collect a consistent set of tools.
I'd be surprised if gcc-11 works without https://github.com/eclipse/omr/pull/6301 that addresses code problems that cause failures with gcc-10.
I think using `-gdwarf-4` in the meantime is reasonable

[2022-01-17 19:25] janvrany commented on #6135
On RISC-V there's no JIT so this is no problem. I'll use `-gdwarf-4` temporarily.

[2022-01-17 22:49] #6291 closed

[2022-01-18 00:00] #6305 closed

[2022-01-18 21:21] 0xdaryl commented on #6248
Is @ymanton's assessment of the problem correct?  If so, should this issue be closed?

[2022-01-18 23:02] singh264 commented on #6248
I think the details of the commits on Nov 15, 2021 in the output of the git show command that is run on the cloned omr repository are:

f76321a https://drive.google.com/file/d/14ILMqZoZEGjTluMSHJPuuQl6-gm_LQre/view?usp=sharing.

2240038 https://drive.google.com/file/d/1kql4q-eylwr2ssGSM6vr1IPQwgnWKfRK/view?usp=sharing.

c91ca47 https://drive.google.com/file/d/1Hr8Sz9EyXn2IFRP59tcmSSBxfR09cVG3/view

[2022-01-18 23:06] singh264 commented on #6248
I think the assessment of the problem is correct and the GitHub issue could be closed.

[2022-01-18 23:07] #6248 closed

[2022-01-24 15:33] 0xdaryl opened #6315 "Migrate canTransformUnsafeCopyToArrayCopy() queries to OpenJ9"
The `Compilation` and `CodeGenerator` queries `canTransformUnsafeCopyToArrayCopy()` are OpenJ9-specific and only consumed by OpenJ9.  They should be relocated to the OpenJ9 project.

This can be done without requiring a coordinated merge.  First, in OpenJ9, move the queries to the appropriate OpenJ9 classes in one PR.  Once that is merged remove the queries from the OMR classes.

[2022-01-27 01:15] Akira1Saitoh opened #6318 "AArch64: Preserve vector registers in SystemLinkage"
[Procedure Call Standard for the Arm® 64-bit Architecture](https://developer.arm.com/documentation/ihi0055/d/?lang=en#aapcs64-f7) states:

Thus, we need to save vector registers in `TR::ARM64SystemLinkage::buildArgs` as other architectures do.

[2022-01-27 01:34] Akira1Saitoh commented on #6318
FYI @knn-k @0xdaryl @gita-omr

[2022-02-03 05:17] #6318 closed

[2022-02-03 15:35] 0xdaryl opened #6328 "Agenda for Feb. 17, 2022 OMR Architecture Meeting"
### Agenda

* Compiler memory leak discussion [ @kevindean12 ]

[**Replay**](https://youtu.be/lJzbmouApmM)

### Details
Thursday, Feb. 17, 2022 @ 14:00 EDT (GMT -4), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (access code): 491 674 744
Meeting password: omrrocks!

North America call-in number: 1-844-531-0958

[Other glob

[2022-02-04 19:43] dsouzai opened #6333 "Move virtualGuardHelper implementations to OpenJ9"
`virtualGuardHelper` is a static function whose body is guarded by the `J9_PROJECT_SPECIFIC` ifdef. This code should be moved to OpenJ9, leaving behind a stub implementation in OMR. One approach might be moving this into the CodeGenerator object.

[2022-02-04 19:49] dsouzai opened #6334 "Move relocation related code in ificmpHelper to OpenJ9"
The code in https://github.com/eclipse/omr/blob/88caea3932581d01a842e55d49029741e7887a04/compiler/aarch64/codegen/ControlFlowEvaluator.cpp#L159-L177

because guarded by essentially an "is AOT" check looks sufficiently self contained that it could be moved to OpenJ9, perhaps in J9's codegenerator.

[2022-02-04 19:50] dsouzai opened #6335 "Move relocation related code in compareIntsForEquality"
The code in https://github.com/eclipse/omr/blob/88caea3932581d01a842e55d49029741e7887a04/compiler/arm/codegen/ControlFlowEvaluator.cpp#L215-L226
because guarded by essentially an "is AOT" check looks sufficiently self contained that it could be moved to OpenJ9, perhaps in J9's codegenerator.

[2022-02-04 19:53] dsouzai opened #6336 "Move relocation related code in p/codegen/ControlFlowEvaluator.cpp"
The code in
https://github.com/eclipse/omr/blob/88caea3932581d01a842e55d49029741e7887a04/compiler/p/codegen/ControlFlowEvaluator.cpp#L1836-L1855
https://github.com/eclipse/omr/blob/88caea3932581d01a842e55d49029741e7887a04/compiler/p/codegen/ControlFlowEvaluator.cpp#L2173-L2192
because guarded by essentially an "is AOT" check looks sufficiently self contained that it could be moved to OpenJ9, perha

[2022-02-04 19:56] dsouzai opened #6337 "Move j/l/i/ComputedCalls specific recognized method code to OpenJ9"
https://github.com/eclipse/omr/blob/88caea3932581d01a842e55d49029741e7887a04/compiler/arm/codegen/OMRLinkage.cpp#L545-L559
should be refactored and moved to OpenJ9.

[2022-02-04 20:00] dsouzai opened #6338 "Move Openj9 specific ARM evaluators to OpenJ9"
There are several evaluators in https://github.com/eclipse/omr/blob/88caea3932581d01a842e55d49029741e7887a04/compiler/arm/codegen/OMRTreeEvaluator.cpp
where the body is guarded by `J9_PROJECT_SPECIFIC`. These should just be refactored to OpenJ9 leaving the stub evaluator behind in OMR.

[2022-02-04 20:42] dsouzai opened #6339 "Move createGuardSiteForRemovedGuard to OpenJ9"
The code in https://github.com/eclipse/omr/blob/88caea3932581d01a842e55d49029741e7887a04/compiler/codegen/OMRAheadOfTimeCompile.cpp#L120-L171
should be moved to OpenJ9.

[2022-02-04 20:45] dsouzai opened #6340 "Move OMR::Node::getMonitorClass to OpenJ9"
The code in https://github.com/eclipse/omr/blob/88caea3932581d01a842e55d49029741e7887a04/compiler/il/OMRNode.cpp#L3052-L3078
should be moved to OpenJ9's `Node`.

[2022-02-04 20:49] dsouzai opened #6341 "Move OMR::Power::MemoryReference::expandForUnresolvedSnippet to OpenJ9"
The code in https://github.com/eclipse/omr/blob/88caea3932581d01a842e55d49029741e7887a04/compiler/p/codegen/OMRMemoryReference.cpp#L1186-L1289
should be moved to a `MemoryReference` in OpenJ9

[2022-02-04 20:51] dsouzai opened #6342 "Move OMR::X86::TreeEvaluator::setupProfiledGuardRelocation to OpenJ9"
The code in https://github.com/eclipse/omr/blob/88caea3932581d01a842e55d49029741e7887a04/compiler/x/codegen/ControlFlowEvaluator.cpp#L583-L602
should be moved to OpenJ9, leaving behind a stub.

[2022-02-04 20:54] dsouzai opened #6343 "Move OpenJ9 specific i386 evaluators to OpenJ9"
There are many evaluators in https://github.com/eclipse/omr/blob/88caea3932581d01a842e55d49029741e7887a04/compiler/x/i386/codegen/OMRTreeEvaluator.cpp
that should be moved to OpenJ9.

[2022-02-04 20:56] dsouzai commented on #1687
Some bigger tasks as part of my initial cursory sweep through the code:
   - Make TR_Debug Extensible
   - Deal with TR_ResolvedMethod vs TR::ResolvedMethod
   - Moving BCD queries to OpenJ9
   - Make TR_FieldPrivatizer extensible to move things like TR_FieldPrivatizer::addStringInitialization and some other methods to OpenJ9
   - Make TR_ProfiledNodeVersioning extensible
   - Make TR_InvariantArg

[2022-02-14 18:24] keithc-ca commented on #6140
Also, in #6351 we see

[2022-02-14 18:44] 0xdaryl opened #6352 "Agenda for March 3, 2022 OMR Architecture Meeting"
### Agenda

* Linux core dump code (#6300) [ @davidjmccann ]
* CI pipeline tools (#2254) [ @babsingh ]

[**Replay**](https://youtu.be/IL_-O75vXZQ)

### Details
Thursday, Mar. 3, 2022 @ 14:00 EST (GMT -5), 90 minutes maximum

Join [Webex](https://ibm.webex.com/ibm/j.php?MTID=m9b0be9582df417952dfbc098c57aac4d)

Meeting number (access code): 491 674 744
Meeting password: omrrocks!

North America call

[2022-02-16 18:07] davidjmccann opened #6357 "32-bit compilation fails on AIX due to use of __compare_and_swaplp"
__compare_and_swaplp is valid only in 64-bit mode according to the AIX documentation.

Instead it might be better to use compare_and_swap and compare_and_swaplp from sys/atomic_op.h?

[2022-02-22 11:42] kevindean12 opened #6361 "Memory leak when a project uses default SystemSegmentProvider"
As discussed in #6328  Architecture meeting, when a project relies on the OMR SystemSegmentProvider to manage memory allocations, there are memory leaks where a Region requests memory allocations handled by a SystemSegmentProvider, but the Region never has its destructor called because it is a member of a class whose instance is stored as a pointer member of another class (the region members of No

[2022-02-25 15:35] dsouzai opened #6368 "z/OS tests failing in PR builds"
The z/OS PR builds are consistently falling because of
[code]
Because of `OMR_ERROR_ILLEGAL_ARGUMENT`  and `OMR_ERROR_INTERNAL`.

[2022-02-25 15:46] dsouzai commented on #6368
rastTest:
[code]

subscriberTest:
[code]

traceOptionTest
[code]

[2022-02-25 17:49] babsingh commented on #6368
Shared libraries associated to the test can't be found/opened:
- `libtraceOptionAgent.so` (`traceOptionTest`)
- `libsubscriberAgent.so` (`subscriberTest`)
- `omr_agent_openLibrary(agent)` (`rastTest`)
- `omrTestVMInit` failure in `rastTest` may also be indirectly related to an unlocatable shared library.

Generally, such issues
- arise when the LIBPATH or LD_LIBRARY_PATH is incorrectly specified;

[2022-02-25 19:26] babsingh commented on #6368
- https://github.com/eclipse/omr/pull/6369
The errors still happen after changing the TARGET level from `zOSV1R13` to `zOSV2R2`. But, the following message is not longer seen: "CCN0835(I) TARGET suboption zOSV1R13 is discontinued".

- https://github.com/eclipse/omr/pull/6370
The above PR reverts all commits since 18 Feb 22. If the build passes, then the above failures are a regression from a recen

[2022-02-25 21:03] babsingh commented on #6368
- https://github.com/eclipse/omr/pull/6370
The errors are also seen after reverting all the commits since 18 Feb 22. So, the errors are not a regression.

[2022-02-25 21:37] joransiu commented on #6368
@babsingh: No, I don't expect changing TARGET to impact shared lib generation.  Also checked with the C/C++ team about this too, and not expected.   The suspicion is that the problem lies elsewhere: e.g. the build of the shared libraries may have fail due to missing functions or some other reason.

[2022-02-28 20:06] jdekonin commented on #6368
ZISVJD09 and ZISVJD10 are new systems and should not have been re-enabled, but I guess a jenkins restart likely did that for us for "free".  PR #6250 should resolve these issues once merged.  I am just validating the second new z/OS node now.

[2022-02-28 20:10] babsingh commented on #6368
I got temporary access to a zOS machine: https://ci.eclipse.org/omr/computer/ZISVJD03/.

The shared libraries are correctly generated in the `build` directory.
The reported errors are seen because the dynamic loader is unable to find the shared libraries.
All tests pass if I specify the `LIBPATH` while running the tests: `LIBPATH=<FULL_PATH>/omr/build ctest -V`.

https://github.com/eclipse/omr/pul

[2022-02-28 20:18] kevindean12 commented on #6361
Closing, fixed in #6362 . Thanks!

[2022-02-28 20:18] #6361 closed

[2022-03-01 04:18] AdamBrousseau commented on #4753
I think this is obsoleted by #4992 but the files are not gone yet as per my comment here https://github.com/eclipse/omr/pull/6250#pullrequestreview-895832596.

[2022-03-02 21:09] 0xdaryl opened #6382 "Improve performance of JIT tracing and logging"
One aspect of the compiler that has not received much attention in recent years is tracing and logging.  In particular, the compile-time and memory footprint overhead when tracing and logging is enabled.  This is important because enabling tracing and logging to capture compiler diagnostics can greatly affect the reproducibility of a problem.

Some informal measurements suggest the compiler can co